<% content_for :title do %>Sponsors<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would love for you to be one of them!
<% end %>
<div class="clearfix"></div>

<div class="full-sponsor">
	<div class="inner">
		<div class="letter">
			<p>Dear Friend,</p>
			<p>The Emerald Coast Foundation (The Foundation) is a non-profit organization that has been dedicated to “Investing in the Youth of Northwest Florida” for the past 25 years.  Since 1992, The Foundation has been able to touch the lives of thousands of children in Northwest Florida through contributions to local children’s charities.  The Emerald Coast Foundation is the area’s only nonprofit organization that operates for the sole purpose of expanding its charitable reward to helping our most precious resources: The children of our community.
			The continued success of The Foundation is dependent upon support from individuals and businesses who graciously partner throughout the year to make our efforts possible and impact the community on a very personal level.  The children’s charities that we support are incredibly dedicated and passionate about their causes, and are driven to work with The Foundation to help us achieve the mission of bettering children’s lives. </p>

			<p> In addition to an array of fundraising events that take place throughout the year, our flagship event, The Emerald Coast Poker Run and Boat Week, held in August, is one of the largest boat poker runs in the country.  The 2017 Emerald Coast Poker Run raised over $140,000!  This event boasts large corporate sponsors and draws nationwide recognition, allowing The Foundation to open doors for children that might otherwise be closed.  </p>

			<p>To continue to accomplish our goals, The Emerald Coast Foundation depends on our community partners; and this where you can make a difference.  By supporting The Emerald Coast Foundation you can make a direct impact on the youth organizations in our area.  Through a business sponsorship or personal donation, you will directly help the following youth organizations in Northwest Florida:  All Sports Association, Children In Crisis, Eleanor Johnson Foundation, and The Arc of the Emerald Coast.   </p>

			<p>On behalf of The Emerald Coast Foundation, I encourage you to join us as we continue on our path to making today’s youth tomorrow’s productive citizens.  I assure you that it brings both personal and professional rewards.</p>

			<p>Sincerely,</p>
			<h4>Donna Tashik</h4>
			<p>Donna Tashik<br>
			President<br>
			Emerald Coast Foundation</p>

			<%= image_tag("letter-img.png", class: 'img-responsive')%>
		</div>

		<div class="btns">
			<%= link_to "ECF-sponsor-levels.pdf", class: 'pdf-link', target: '_blank' do %>
				Sponsorship Levels
      <% end %>

			<%= link_to "ecf2019-facts.pdf", class: 'pdf-link', target: '_blank' do %>
				Fact Sheet
	    <% end %>
		</div>
	</div>
</div>
<div class="clearfix"></div>
