<% content_for :title do %>Sponsors<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would love for you to be one of them!
<% end %>
<div class="clearfix"></div>

<div class="full-sponsor">
	<div class="inner">
		<div class="letter">
			<p>Dear Friend,</p>

			<p>What a crazy year! From the entire Board of Directors of the Emerald Coast Foundation (ECF), we hope you and yours are doing well and are staying healthy. Our ECF Board of Directors is comprised of local business and civic leaders, who know how tough of a year it’s been for business. It’s also been a very tough year for our charities and especially the kids they serve. </p>

			<p>The common thread of our board discussions since March, has been to make certain we support all of our loyal sponsors, our benefitting charities, the well-being and sustainability of ECF, and of course our board.</p>

			<p>Every one of us has struggled with the decision on whether to have the 28th Annual Emerald Coast Boat Week and Poker Run, or cancel due to the pandemic. We have decided to have the event, but on a MUCH smaller scale. For 2020, we are calling it Emerald Coast Poker Run “LITE.” We will still have a poker run on Saturday, August 8th, and a poker party afterwards. We will also have registration and a party Friday night, August 7th.  There will be no events Wednesday, August 5th or Thursday the 6th.      </p>

			<p>On behalf of the kids and ECF board, we humbly ask for your support. We understand if you are not able to financially support ECF as you have done in the past, and are asking you to please give what you can. If you are not able to make a donation this year, you can still help the kids by encouraging people to come to the event, displaying event signs at your business, sharing our posts to your social media followers and employees, and of course coming to the event yourself.  </p>

			<p>Please join us for a celebration of boating reminiscent of the early days of ECF. Come by boat, car, or motorcycle. Then come to the Poker Run Party at AJ’s on the Bayou that evening from 4-8PM.</p>

			<p>The Emerald Coast Foundation (ECF) is a 501 C-3 non-profit organization that is dedicated to investing and helping kids in need and at risk. ECF is a 100% volunteer organization, made up of community and business leaders, who work tirelessly every year to put on this event. Since 1992, ECF has raised over $2.5 million dollars! All of which has stayed in our local area helping kids who desperately need it.  </p>

			<p>Our current benefitting charities are Children in Crisis, ARC of the Emerald Coast, the Eleanor Johnson Youth Center, and the All Sports Association. We encourage you to get to know these wonderful organizations.</p>

			<p>Please remember, these kids have no choice who or what the situation is they are born into, but luckily, we have a choice on how we lift them up to succeed.  </p>

			<p>Let’s get busy and raise some money! </p>

			<h4>Peggy King</h4>
			<p>President, The Emerald Coast Foundation</p>
		</div>

		<div class="btns">
			<%= link_to "ECF-sponsor-levels.pdf", class: 'pdf-link', target: '_blank' do %>
				Sponsorship Levels
      <% end %>

			<%= link_to "ecf2019-facts.pdf", class: 'pdf-link', target: '_blank' do %>
				Fact Sheet
	    <% end %>
		</div>
	</div>
</div>
<div class="clearfix"></div>
