<% content_for :title do %>Poker Run FAQs<% end %>
<% content_for :description do %>
Read through our FAQs for answers to your questions about the Emerald Coast Poker Run!
<% end %>
<div class="clearfix"></div>

<div class="bluebg">
  <div class="inside main">
    <h1 class="regh1">Emerald Coast Poker Run<br> <span>FAQ's</span></span></h1>
    
    <div class="whitebox "><!-- tabs -->
	    <div class="med3Def wbWrap">
		    <div id="accordeon">
	        <div class="cbp-item">
		        <div class="cbp-caption faq1">
		          <div class="cbp-caption-defaultWrap"><h4>What is a poker run?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
		            	<p>A poker run is an organized event where participants must visit five to seven checkpoints, drawing a playing card at each one. The object is to have the best poker hand at the end of the run. Having the best hand and winning is purely a matter of chance. The event has a time limit, however the individual participants are not timed.</p>
		            </div>
		          </div>
		        </div>

						<div class="cbp-caption faq2">
		          <div class="cbp-caption-defaultWrap"><h4>What makes the Emerald Coast Poker Run Special?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>The Emerald Coast Poker Run is a marine event for boaters that raises money for youth organizations in Okaloosa County. Stops are open during the day, and the after party is in the evening.</p>

									<p>We have more than 7 check points for participants to visit (if they choose) so they can utilize even more cards to create the best hand possible. Participants must have a visited a minimum of 5 check points to build a proper hand. <a href="/stops" class="text-link">Click here</a> to see 2021 check point locations.</p>

									<p>At the Poker Run Party, which is after the days’ run, participants bring their check point cards in and exchange them for playing cards to build their hand. 10 seats at the final table are awarded, where participants then play poker for the grand prizes. </p>

									<p>The Poker Run party also features food & beverage and entertainment as part of the registration fee, a silent auction, and additional gaming like black jack and roulette.</p>
								</div>
							</div>
						</div>

					
						<div class="cbp-caption faq3">
		          <div class="cbp-caption-defaultWrap"><h4>What kind of boats can participate?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>The poker run is open to all boats. For many years, the Emerald Coast Poker Run was strictly for power boats. However, due to some shifts in strategic partnerships in recent years, we are currently catering to many more leisure and fishing boats, pontoons, and center consoles.</p>
								</div>
							</div>
						</div>

					
						<div class="cbp-caption faq4">
		          <div class="cbp-caption-defaultWrap"><h4>How can I participate if I don’t have a boat?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>If you have a friend or family member with a boat, you can register for full benefits and ride with them! Just be sure to indicate that on your registration form.</p>

									<p>If that is not an option, you can purchase individual tickets to join us at the Poker Run party. <a href="https://form.jotform.com/211166902683153" target="_blank" class="text-link">Click here</a> to purchase poker run party tickets.</p>
								</div>
							</div>
						</div>

					
						<div class="cbp-caption faq5">
		          <div class="cbp-caption-defaultWrap"><h4>Who organizes the Emerald Coast Poker Run?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>The Emerald Coast Foundation is non-profit organization that has raised over 2.5 million dollars for local youth organizations over the last 30 years. We are a 100% volunteer board of directors comprised of community members with diverse professional backgrounds. </p>

									<p>ECF works with community partners throughout the area to sponsor the event, our beneficiary organizations to provide support for the event, and hundreds of volunteers to organize every aspect of the event. From updating this website, to organizing logistics of the stops, and negotiating contracts for food & beverage and entertainment at the event, and even stuffing pre-registration packages with your merchandise and information, our board and volunteers spend thousands of hours throughout the year striving to improve processes and procedures to ensure a safe, organized and fun event.</p>
								</div>
							</div>
						</div>

					
						<div class="cbp-caption faq6">
		          <div class="cbp-caption-defaultWrap"><h4>What do I get with my registration?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>While registration benefits are subject to change after end of year evaluations, and due to sponsorship commitments changes year over year, ECF has consistently brought participants tremendous value with their registration. <a href="/registration" class="text-link">Click here</a> to see your 2021 registration options and benefits.</p>
								</div>
							</div>
						</div>

					
						<div class="cbp-caption faq7">
		          <div class="cbp-caption-defaultWrap"><h4>Who are the beneficiaries of the Emerald Coast Poker Run?</h4></div>
		          <div class="cbp-caption-activeWrap">
		            <div class="cbp-l-caption-body">
									<p>Our 2021 beneficiaries are:<br>
									All Sports Association<br>
									Arc of the Emerald Coast<br>
									Children in Crisis<br>
									Eleanor Johnson Youth Center</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>