<% content_for :title do %>Gallery<% end %>
<% content_for :description do %>
Take a look at all the fun we've had over the years, and get ready for the upcoming Boat Week and Poker Run!
<% end %>

<section class="big-header">
    <div class="overlay">
        <div class="container">
            <div class="col-md-5 col-xs-12">
                <h1>Our Photo Galleries</h1>
            </div>
        </div>
    </div>
</section>


<section class="image-gallery">
	<div class="container-fluid">
		<div class="col-md-12">
			<div id="nanoGallery1"></div>
		</div>
	</div>
</section>


<div class="clearfix"></div>
