<% content_for :title do %>Lodging Partners<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would like to give a special thanks to all of them!
<% end %>

<div class="head-1">
    <h3>Where Should You Stay?</h3>
    <h1>Ask Our Lodging Partners</h1>
</div>

<section class="lodge">
    <div class="lodge-inner">
        <div class="container">
            <div class="plat">
                <h4>Emerald Sponsor:</h4>
                <%= link_to 'http://www.ramadafwb.com/', target: '_blank', class: 'home-lodge sq' do %>
                  <%=image_tag( 'sponsors/sponsors40.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
                <% end %>
            </div>
            <div class="clearfix"></div>

            <div class="bronze">
                <h4>Bronze Sponsor:</h4>

                <%= link_to 'https://www.oceanreefresorts.com/', target: '_blank', class: 'home-lodge alt b2' do %>
                    <%=image_tag( 'lodging/home-ocean-reef.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                <% end %>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
