<% content_for :title do %>Party Tickets<% end %>
<% content_for :description do %>
Reserve your tickets for the annual Emerald Coast Poker Run Party, and enjoy a night of open bar, dinner, music, and entertainment! Tickets will be available at will call the night of the party.
<% end %>
 <!-- open bar, dinner, music, entertainment. -->

<div class="pay-header">
  <div class="container no-padding">
    <h1>Poker Run Party Tickets</h1>
    <h3 class="det">Saturday, August 12 &nbsp;|&nbsp; 6-10pm<br> at Emerald Coast Convention Center</h3>
    <h4>Online ticket sales end at 5pm August 11th.<br> Tickets may be purchased at the door of the event.</h4>
  </div>
</div>

<div class="page-content">
	<div class="container">
		<hr>
		<div class="clearfix"></div>
		<p>
    	The annual Emerald Coast Poker Run Party is a full night of open bar, dinner, music, &amp; entertainment!
      Fill out the form below, and purchase your tickets today. Tickets are $65 each, and can be picked up at will call the night of the event. See you there!
    </p>
		<hr>
		<div class="clearfix"></div>

		<div class="form">
			<div id="wufoo-mj7q4j60i78hrn">
			Fill out my <a href="https://ecfoundation.wufoo.com/forms/mj7q4j60i78hrn">online form</a>.
			</div>
			<script type="text/javascript">var mj7q4j60i78hrn;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'ecfoundation',
			'formHash':'mj7q4j60i78hrn',
			'autoResize':true,
			'height':'464',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { mj7q4j60i78hrn = new WufooForm();mj7q4j60i78hrn.initialize(options);mj7q4j60i78hrn.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
		</div>

		<div class="image-right">
			<%= image_tag('tab-after.jpg', class: 'img-responsive', alt: 'Emerald Coast Poker Run Party 2016') %>
		</div>

	</div>
</div>

<div class="clearfix"></div>


<!-- 1: 65.00 -->
<!-- 2: 130.00 -->
<!-- 3: 195.00 -->
<!-- 4: 260.00 -->
<!-- 5: 325.00 -->
<!-- 6: 390.00 -->
<!-- 7: 455.00 -->
<!-- 8: 520.00 -->
<!-- 9: 585.00 -->
<!-- 10: 650.00 -->
