<% content_for :title do %>Party Tickets<% end %>
<% content_for :description do %>
Reserve your tickets for the annual Emerald Coast Poker Run Party, and enjoy a night of open bar, dinner, music, and entertainment! Tickets will be available at will call the night of the party.
<% end %>
 <!-- open bar, dinner, music, entertainment. -->
<div class="ticketpage">
	<div class="pay-header">
	  <div class="container no-padding">
	    <h1>Additional Tickets</h1>
	    <h4>Fill out the form below to reserve your additional tickets for this year's Poker Run Party, and enjoy a night full of entertainment and fun!</h4>
	     <!-- Once completed, your tickets will be available at will call. You must provide your confirmation email as proof of purchase. -->
	  </div>
	</div>

	<div class="page-content">
		<div class="container no-padding">
			<script type="text/javascript" src="https://form.jotform.com/jsform/211166902683153"></script> 
      <iframe
        id="JotFormIFrame-211166902683153"
        title="Emerald Coast Poker Run Registration Form"
        onload="window.parent.scrollTo(0,0)"
        allowtransparency="true"
        allowfullscreen="true"
        allow="geolocation; microphone; camera"
        src="https://form.jotform.com/211166902683153"
        frameborder="0"
        style="min-width:100%;height:auto;border:none;"
        scrolling="no"
      >
      </iframe>

		</div>
	</div>
</div>
<div class="clearfix"></div>