<% content_for :title do %>Party Tickets<% end %>
<% content_for :description do %>
Reserve your tickets for the annual Emerald Coast Poker Run Party, and enjoy a night of open bar, dinner, music, and entertainment! Tickets will be available at will call the night of the party.
<% end %>
 <!-- open bar, dinner, music, entertainment. -->
<div class="ticketpage">
	<div class="pay-header">
	  <div class="container no-padding">
	    <h1>Additional Tickets</h1>
	    <h4>Fill out the form below to reserve your additional tickets. Once completed, your tickets will be available at will call. You must provide your confirmation email as proof of purchase.</h4>
	  </div>
	</div>

	<div class="page-content">
		<div class="container no-padding">
			<!-- <hr><div class="clearfix"></div> -->
			<!-- <p>
	    	The annual Emerald Coast Poker Run Party is a full night of open bar, dinner, music, &amp; entertainment!
	      Fill out the form below, and purchase your tickets today. Tickets are $65 each, and can be picked up at will call the night of the event. See you there!
	    </p> -->
	    <!-- LOOKING FOR ADDITIONAL TICKETS TO SATURDAY NIGHT'S POKER RUN PARTY AND/OR 2019 CAPTAINS' PARTY? -->

	   	<div class="tix-info">
		    <div class="col-md-6 col-sm-12">
					<p>STANDARD POKER RUN PARTY TICKETS:<br>
					<span>Complementary food and open bar (beer and wine) at the famous Poker Run Party</span><br>
					$65 PER TICKET</p>
				</div>
				
				<div class="col-md-6 col-sm-12">
					<p>VIP POKER RUN PARTY TICKETS:<br>
					<span>Complementary food and full open bar (beer/wine/spirits) at the famous Poker Run Party. Access to VIP gaming tables.</span><br>
					$95 PER TICKET</p>
				</div>
				<!-- 
				<div class="col-md-4 col-sm-12">
					<p>1 TICKET TO BOTH EVENTS:<br>
					<span>$100 TOTAL</span></p>
				</div> -->
			</div>

	<!-- <script type="text/javascript" src="https://form.jotform.com/jsform/81655404741153"></script> -->
			<iframe id="JotFormIFrame-81655404741153" onload="window.parent.scrollTo(0,0)" allowtransparency="true" allowfullscreen="true" allow="geolocation; microphone; camera" src="https://form.jotform.com/81655404741153" frameborder="0" style="width: 1px; min-width: 100%; height:539px; border:none;" scrolling="no" > </iframe> <script type="text/javascript"> var ifr = document.getElementById("JotFormIFrame-81655404741153"); if(window.location.href && window.location.href.indexOf("?") > -1) { var get = window.location.href.substr(window.location.href.indexOf("?") + 1); if(ifr && get.length > 0) { var src = ifr.src; src = src.indexOf("?") > -1 ? src + "&" + get : src + "?" + get; ifr.src = src; } } window.handleIFrameMessage = function(e) { var args = e.data.split(":"); if (args.length > 2) { iframe = document.getElementById("JotFormIFrame-" + args[(args.length - 1)]); } else { iframe = document.getElementById("JotFormIFrame"); } if (!iframe) { return; } switch (args[0]) { case "scrollIntoView": iframe.scrollIntoView(); break; case "setHeight": iframe.style.height = args[1] + "px"; break; case "collapseErrorPage": if (iframe.clientHeight > window.innerHeight) { iframe.style.height = window.innerHeight + "px"; } break; case "reloadPage": window.location.reload(); break; case "loadScript": var src = args[1]; if (args.length > 3) { src = args[1] + ':' + args[2]; } var script = document.createElement('script'); script.src = src; script.type = 'text/javascript'; document.body.appendChild(script); break; case "exitFullscreen": if (window.document.exitFullscreen) window.document.exitFullscreen(); else if (window.document.mozCancelFullScreen) window.document.mozCancelFullScreen(); else if (window.document.mozCancelFullscreen) window.document.mozCancelFullScreen(); else if (window.document.webkitExitFullscreen) window.document.webkitExitFullscreen(); else if (window.document.msExitFullscreen) window.document.msExitFullscreen(); break; } var isJotForm = (e.origin.indexOf("jotform") > -1) ? true : false; if(isJotForm && "contentWindow" in iframe && "postMessage" in iframe.contentWindow) { var urls = {"docurl":encodeURIComponent(document.URL),"referrer":encodeURIComponent(document.referrer)}; iframe.contentWindow.postMessage(JSON.stringify({"type":"urls","value":urls}), "*"); } }; if (window.addEventListener) { window.addEventListener("message", handleIFrameMessage, false); } else if (window.attachEvent) { window.attachEvent("onmessage", handleIFrameMessage); } </script>

		</div>
	</div>
</div>

	<div class="clearfix"></div>


	<!-- 1: 65.00 -->
	<!-- 2: 130.00 -->
	<!-- 3: 195.00 -->
	<!-- 4: 260.00 -->
	<!-- 5: 325.00 -->
	<!-- 6: 390.00 -->
	<!-- 7: 455.00 -->
	<!-- 8: 520.00 -->
	<!-- 9: 585.00 -->
	<!-- 10: 650.00 -->
