<% content_for :title do %>Ruby Payment<% end %>
<% content_for :description do %>
Complete your payment to secure your 2017 Ruby Level Registration!
<% end %>

<div class="pay-header">
    <div class="container no-padding">
      <h1>Ruby Registration Payment</h1>
    </div>
</div>

<div class="page-content">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h4>Complete the form below, to advance to the payment screen, and secure your 2017 Ruby Level Registration!</h4>

			<div id="wufoo-r13jw6ka15tizjc">
			Fill out my <a href="https://ecfoundation.wufoo.com/forms/r13jw6ka15tizjc">online form</a>.
			</div>
			<script type="text/javascript">var r13jw6ka15tizjc;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'ecfoundation',
			'formHash':'r13jw6ka15tizjc',
			'autoResize':true,
			'height':'100%',
			'async':true,
			'host':'wufoo.com',
			'header':'hide',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { r13jw6ka15tizjc = new WufooForm();r13jw6ka15tizjc.initialize(options);r13jw6ka15tizjc.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
		</div>
	</div>
</div>
<div class="clearfix"></div>
