<% content_for :title do %>2021 Emerald Coast Poker Run<% end %>
<% content_for :description do %>
We have made some changes for our 2021 Poker Run. Take a look, and get ready for a great weekend on the Emerald Coast!
<% end %>

<div class="drawPage">
	<div id="event-details" class="draw-dets">
	  <div class="inside">
	  	<!-- <div class="opener">In response to COVID-19, <span>for 2020 only</span> we are bringing you:</div> -->

	    <div class="boxSec poker-run">
	      <div class="innerBox">
		      <h1>2021 Emerald Coast Poker Run</h1>
		      <h2>2 Days Only - August 13 &amp; 14</h2>
		      <a href="/registration" class="btn-link one">Registration Info</a>
		      <div class="clearfix btn-clear"></div>
		      <a href="/register-now" class="btn-link two">Register Now</a>
				</div>
        
        <%=image_tag('boat-bg.jpg', alt:'Poker Run 2021 - boats on the water', class: 'img-responsive img-spacing fw-img') %>
        
	      <div class="innerBox">
	        <div class="paddedBox">
	        	<div class="date one">
		        	<h4>August 13</h4>
		        	<p>On-Site Registration &amp; Check-In at AJ’s on the Bayou<br><span>Fort Walton Beach 2-7pm</span></p>
		        	<p>Captain’s Party at AJ’s on the Bayou: 6-9pm </p>
						</div>

						<div class="date">
		        	<h4>August 14</h4>
		        	<p>Poker Run Stops Open: 10am-4pm</p>
		        	<p>Poker Run Party at The Block<br><span>Fort Walton Beach. Doors Open at 6pm</span></p>
		        </div>
		      </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="clearfix"></div>