<% content_for :title do %>2020 Poker Run Information<% end %>
<% content_for :description do %>
We have made several changes to our 2020 Poker Run due to COVID-19 Pandemic. This page contains the updated information for the upcoming event.
<% end %>

<div class="COVIDevent">
  <div class="box-lay">
    <%= link_to register_now_path, class: 'sign-up' do %>Register Now<% end %>

    <div class="inside">
      <h1>We have made several changes to our 2020 schedule due to COVID-19. Please read below to see our updated information.</h1>

      <div class="boxSec poker-run">
        <div class="innerBox">
          <h2 id="run">2020 Poker Run: Saturday, August 8</h2>
          <p class="info">We’re changing things up this year and inviting not just boats, but automobiles and motorcycles to participate. Our goal forever remains raising as much money as possible for our local children!</p>
          <hr class="hlf"/><div class="clearfix"></div>

          <ul>
            <li>5+ Poker Run Stops, open 10am – 2pm</li>
            <li>Registration fee: ONLY $25!!!<br/>
              <span>*Fee includes one poker hand. Additional cards and hands will be available for sale.</span>
            </li>
          </ul>
          <hr class="hlf">

          <h3 id="party">Poker Run Party</h3>
          <hr class="hlf"/><div class="clearfix"></div>
          <ul>
            <li>AJ’s on the Bayou: 3pm – 7pm</li>
            <li>Poker and Blackjack tables will be ready for you!</li>
            <li>Poker first prize - $1000 cash!</li>
            <li>Poker Run merchandise, food, and beverages will be offered for sale</li>
          </ul>
          <hr class="hlf"/><div class="clearfix"></div>

          <h3 id="registration">Poker Run Registration/Check-In</h3>
          <hr class="hlf"/><div class="clearfix"></div>
          <ul>
            <li>Date: Friday, August 7</li>
            <li>Time: 4pm – 8pm</li>
            <li>Location: AJ’s on the Bayou</li>
            <li>Merchandise, food and beverage available for sale</li>
            <h4>** Looking forward to 2021’s Poker Run as much as we are?<br/> Pre-register Friday (8/7) or Saturday (8/8), and receive a <u>complimentary</u> upgrade to VIP for 2021, <u>AND</u> an additional weekend stay at the IP Casino Resort in Biloxi.</h4>

          </ul>
        </div>
      </div>

      <div class="boxSec vip">
        <div class="innerBox">
          <h4>VIP Add-on: </h4>
          <hr class="hlf"/><div class="clearfix"></div>
          <p>Poker Runners and guests that make an additional $175 donation, will receive complimentary drinks at the Poker Run Party at AJ’s on the Bayou. PLUS a complimentary weekend stay at the IP Casino Resort Biloxi, and other VIP swag.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
