<% content_for :title do %>Poker Run Draw Down<% end %>
<% content_for :description do %>
Read through this page to learn about The Emerald Coast Poker Run Draw Down. Each ticket is a chance to win a $10,000 prize!
<% end %>

<div class="drawPage">
	<div id="event-details" class="draw-dets">
	  <div class="inside">
	    <div class="boxSec poker-run">
	      <div class="innerBox">
		      <h1>The Emerald Coast Poker Run<br class="small"/> <span>Draw Down</span></h1>
	      	<h3>Each ticket gives you a <span>one-night stay at the IP Casino</span> in Biloxi, MS, and <span>a chance to win a $10,000 grand prize!</span></h3>
        	<p class="color">Only 500 Tickets Available! Get Yours Now!</p>
				</div>

	      <div class="grayBox">
					<script type="text/javascript" src="https://form.jotform.com/jsform/212005493284148"></script>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="clearfix"></div>