<% content_for :title do %>2020 Poker Run Draw Down<% end %>
<% content_for :description do %>
Due to COVID-19 Pandemic, we have replaced the 2020 Poker Run with a Draw Down event.
<% end %>

<div class="drawPage">
	<div id="event-details" class="draw-dets">
	  <div class="inside">
	  	<div class="opener">In response to COVID-19, <span>for 2020 only</span> we are bringing you:</div>

	    <div class="boxSec poker-run">
	      <div class="innerBox">
		      <h1>The Great<br/> Emerald Coast Poker Run <span>Draw Down</span></h1>
		      <h2>Saturday, October 24</h2>
	      	<h3>For every $100 donation, get <span>a chance to win $10,000 cash</span>,<br class="cst-br"/> and receive a one night stay at the IP Casino in Biloxi.</h3>
					<div class="btn-row"><a class="btn-link" href="#event-tickets">GET YOUR TICKETS NOW!</a></div>

	        <div class="paddedBox">
		      	<p class="bmargin5">Only 500 Tickets Available - Live Drawing October 24th - Get Yours Now!</p>
						<h4>$10,000 Grand Prize will go to the holder of the 500th ticket drawn. <br class="cst-br2" />Cash prizes are as follows:</h4>
						<ul>
							<li>1st Ticket: $100</li>
							<li>100th Ticket: $200</li>
							<li>200th Ticket: $500</li>
							<li>300th Ticket: $1500</li>
							<li>400th Ticket: $2500</li>
							<li>500th Ticket: $10,000</li>
							<li class="last">Various, non-cash prizes will be awarded for every 20th ticket drawn.</li>
						</ul>
					</div>
	        
	        <div class="paddedBox">
			      <div class="innerBox cst">
						  <hr class="hlf xb"/><div class="clearfix"></div>
							<p><b>We need you now more than ever.</b><br/>
							Our goal forever remains raising as much as possible for our local kids.
							Your participation and donations this year will ensure The Emerald Coast Foundation can continue to support our beneficiaries, and bring back Emerald Coast Boat Week as you know it in 2021.</p>
						  <hr class="hlf xt"/><div class="clearfix"></div>
						</div>
	        </div>

	        <div class="paddedBox terms">
		        <p class="fine-print">The advertised cash totaling $15,000 (in reserve at Beach Community Bank from previous sponsorship funds) and assorted prizes will be presented for winning on Saturday, October 24th, 2020 at 7pm. Due to the COVID-19 pandemic, an announcement will be made if the drawdown will be live at a location TBA but will be streamed live on Facebook by the Emerald Coast Foundation board members, observing all social distancing guidelines in place at that time. The cash and prizes will be given away in the form of a drawdown, also known as a wipe off board. Winners' proceeds will be awarded by check, and a 1099 will be given to each recipient. 500 tickets will be distributed for a donation to the Emerald Coast Foundation of $100 for one (1) draw down # (a “chance”). All numbers will be on the drawdown board prior to 7pm on October 24th, 2020. At 7pm, all numbers will then be selected randomly, one at a time and removed from the board. An Emerald Coast Foundation board member will periodically stop and select one number to receive a prize other than cash, or a lower amount of cash, as listed below. If this is your number, you will receive the prize, but will be out of the running for the $10,000 cash. KEEP YOUR EYES ON THE BOARD! NUMBERS WILL NOT BE INDIVIDUALLY ANNOUNCED AS THEY ARE RANDOMLY REMOVED. ONCE YOUR NUMBER IS REMOVED YOU ARE OUT OF THE DRAWING. The $10,000.00 Grand Prize will go to the holder of the 500th ticket drawn. Cash prizes are as follows: 1st Ticket: $100 | 100th Ticket: $200 | 200th Ticket: $500 | 300th Ticket: $1500 | 400th Ticket: $2500 | 500th Ticket: $10,000 Various other prizes will be given for every 20th ticket drawn during the drawdown. The Emerald Coast Foundation is a 501 C 3 nonprofit all volunteer organization, with no paid employees. All proceeds raised are given to the children’s charities supported by the organization. No purchase necessary. Board members and their household are ineligible to win.
		        </p>
		      </div>
	      </div>
	    </div>
	  </div>
	</div>

	<div id="event-tickets" class="ticket-section">
		<div class="inside">
			<h3>Get your tickets for <br/>The Great Emerald Coast Poker Run <span>Draw Down</span></h3>
	  	<p>Only 500 Tickets Available - Live Drawing October 24th</p>
			<div class="btn-row"><a class="det-link" href="#event-details">Back to event details <i class="fa fa-chevron-up"></i></a></div>

			<script type="text/javascript" src="https://form.jotform.com/jsform/202015820086142"></script>
		</div>
	</div>
</div>

<div class="clearfix"></div>