<% content_for :title do %>Registration Form<% end %>
<% content_for :description do %>
Register now, and get ready for this year's Emerald Coast Poker Run!
<% end %>


<div class="reg-info">
	<div class="inner">
  	<h2>Emerald Coast Poker Run:<br> August 13 &amp; 14</h2>
		<h1>Registration Form</h1>
		
		<div class="form-row">
			<div class="container">
				<div class="formside">
					<script type="text/javascript" src="https://form.jotform.com/jsform/210402822740140"></script>
				</div>
		 	</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
