<% content_for :title do %>Poker Run Registration Options<% end %>
<% content_for :description do %>
The Emerald Coast Poker Run is right around the corner! Check our registration options to see which level is right for you!
<% end %>
 
<!-- <= event_year %> -->
<div class="txt-style">
  <div class="box-lay">
    <div class="inside main">
      <h1 class="regh1">Emerald Coast Poker Run<br> August 13 &amp; 14<br> <span>Registration Options</span></h1>
      <div class="clearfix one"></div>
      <%= link_to "Register Now", register_now_path, class: 'sign-up' %>
      <div class="clearfix dos"></div>

      <div class="lev-table">
        <div class="">
          <div class="level top">
            <p class="level-name">VIP $324</p>
            <div class="lev-dets">
              <ul>
                <li><b>2 Poker Hands</b><br> To Play for the Grand Prize</li>
                <li><b>Poker Run Party:</b><br> Entry for 2 <br> Preferred VIP Area Including: Buffet &amp; Open Bar</li>
                <li><b>Captain’s Party:</b><br> Entry for 2 Including: Buffet &amp; Open Bar</li>
                <li><b>2 Event T-shirts</b></li>
                <li><b>Weekend Stay at the IP Casino</b><br> Biloxi MS</li>
                <li class="emph">$750 Value</li>
              </ul>
            </div>
          </div>

          <div class="level stand">
            <p class="level-name">STANDARD $274</p>
            <ul>
              <li><b>1 Poker Hand</b><br> To Play for the Grand Prize</li>
              <li><b>Poker Run Party:</b><br> Entry for 2 Including: Buffet, &amp; 2 drinks Per Person</li>
              <li><b>Captain’s Party:</b><br> Entry for 2 Including: Buffet</li>
              <li><b>2 Event Tshirts</b></li>
              <li><b>One Night Stay at the IP Casino</b><br> Biloxi MS</li>
              <li class="emph">$480 Value</li>
            </ul>
          </div>

          <div class="level jr">
            <p class="level-name">JR $199</p>
            <ul>
              <li><b>Entry into JR Registration only raffle.</b><br> Non Eligible to Play Poker hand for Grand Prize.</li>
              <li><b>Poker Run Party:</b><br> Entry for 2 with Buffet &amp; 2 Drinks Per Person.</li>
              <li><b>Captain’s Party:</b><br> Entry for 2 Including: Buffet</li>
              <li><b>2 Event Tshirts</b></li>
              <li class="emph">$240 Value</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix clearReg"></div>
    <%= link_to "Register Now", register_now_path, class: 'sign-up mobile' %>
  </div>

  <div class="clearfix"></div>
</div>