<% content_for :title do %>Poker Run Safety Rules<% end %>
<% content_for :description do %>
Safety is the top priority of the Emerald Coast Poker Run. Read our safety rules, and get ready for 2018 Boat Week!
<% end %>

<div class="txt-style">
  <div class="box-lay">
		<h1>2019 Emerald Coast Poker Run<br> <span>Safety Rules</span></h1>
		<div class="container no-padding">
			<div class="meetings">
				<h2>2019 Safety Meetings:</h2>
				<div class="title-line left"></div>
				<div class="clearfix"></div>
				<p><span>Location:</span> The Island beach Resort (formerly the Ramada Plaza beach Resort)</p>
				<p><span>Thursday (8/8/19):</span> 5pm</p>
				<p><span>Friday (8/9/19):</span> 8am and 5pm</p>
				<p><span>Saturday (8/10/19):</span> 8am </p>
				<p><b>** Every captain must attend a safety meeting to qualify and participate in the Poker Run. **</b></p>
			</div>

			<div class="inside">
	      <div class="two">
					<ul>
					<!-- <li><%= link_to "Safety Rules", safety_rules_path, class: 'nav-link' %></li> -->
						<li>1. This is NOT a race. Safety is the top priority of the Poker Run.</li>
						<li>2. Always obey the rules of the water, &amp; safe boating operation. Obey all No Wake Zones, &amp; keep a safe distance from other boats.</li>
						<li>3. Captains of all boats must attend a safety briefing. All captains are required to read &amp; be knowledgeable of the Event Summary &amp; Safety Rules.</li>
						<li>4. Emerald Coast Poker Run designated numbers must be visible when approaching each stop.</li>
						<li>5. Any captain caught drinking, or under the influence, will be removed from the Poker Run, &amp; reported to local water patrol. A zero tolerance policy is in place and local law personal will arrest you, period. </li>
						<li>6. Captains must use the kill switch safety lanyard during the Poker Run.</li>
						<li>7. Select a Co-Captain to be a look out for other boats.</li>
						<li>8. USCG approved vests must be worn by everyone on the boat, at all times, while the boat is in motion.</li>
						<li>9. Captain must operate at safe speed at all times for water and traffic conditions to insure safe operation of the boat.
							<!-- Limit your speed to a max of 50 MPH around congested areas (i.e. Crab Island, etc…). -->
						</li>
						<li>10. All boats must be registered &amp; provide proof of liability insurance.</li>
						<li>11. All participants riding in the boat must sign the Event Liability Waiver.</li>
						<li>12. Disobeying any of these rules may result in disqualification from the event.</li>
						<li>13. If you see any unsafe practices, please call the Poker Run Safety Number: <b><%= number_to_phone(8509741023, delimiter: '.', area_code: true) %></b></li>
					</ul>
					<!-- <h4>*No one has a good time if there is an accident. Be safe!</h4> -->
				</div>

				<div class="numbers">
					<h3>EMERGENCY NUMBERS:</h3>
					<h4>Sea Tow Destin: (850) 837-4152</h4>
					<h4>Boat US: (850) 395-2628</h4>
					<h4>USCG Station Destin: (850) 244-7147</h4>
					<h4>Okaloosa Sheriff: (850) 651-7400</h4>
					<h4>FWB Police Dept: (850) 833-9900</h4>

					<hr>
					<h3>FIRE DEPTS:</h3>
					<h4>Destin: (850) 837-8413</h4>
					<h4>Ft. Walton Beach: (850) 833-9500</h4>
					<h4>Ocean City-Wright: (850) 862-1185</h4>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
