<% content_for :title do %>Poker Run Safety Rules<% end %>
<% content_for :description do %>
Safety is the top priority of the Emerald Coast Poker Run. Read our safety rules, and get ready for Boat Week!
<% end %>

<div class="txt-style">
  <div class="box-lay">
		<h1><%= event_year %> Emerald Coast Poker Run<br> <span>Safety Rules</span></h1>
		<div class="container no-padding">
			<div class="meetings">
				<h2><%= event_year %> Safety Meetings for all boats will take place <br><span>Friday at 5:30PM and 8:30PM at AJS on the Bayou</span></h2>
			</div>

			<div class="inside">
      	<div class="two">
      		<p>Safety Rules are as follows: </p>
					<ul>
						<li>1. This is NOT a race. Safety is the top priority of the Emerald Coast Poker Run and Emerald Coast Foundation.</li>
						<li>2. Always obey the rules of the water and safe boating operation. Obey all No Wake Zones & keep a safe distance from other boats.</li>
						<li>3. Captains of all boats must attend a safety briefing. All Captains are required to read and be knowledgeable of the Event Summary & Safety Rules.</li>
						<li>4. Emerald Coast Poker Run designated numbers must be visible when approaching each stop.</li>
						<li>5. Any captain caught drinking, or under the influence, will be removed from the Poker Run & reported to local water patrol. A zero tolerance policy is in place and local law enforcement will arrest you. Period.</li>

						<li>6. Captains must use the kill switch safety lanyard during the Emerald Coast Poker Run.</li>
						<li>7. Select a Co-Captain to be a look out for other boats.</li>
						<li>8. USCG approved vests must be worn by everyone on the boat, at all times, while the boat is in motion.</li>
						<li>9. Captain must operate at a safe speed at all times for water & traffic conditions to insure safe operation of the boat.</li>
						<li>10. All boas must be registered & provide proof of liability insurance.</li>
						<li>11. All participants riding in the boat must sign the Event Liability Waiver.</li>
						<li>12. Disobeying any of these rules may result in disqualification from the event.</li>
						<li>13. If you see any unsafe practices, please call the Emerald Coast Poker Run Safety number provided at the safety meeting.</li>
					</ul>
				</div>

				<div class="numbers">
					<h3>EMERGENCY NUMBERS:</h3>
					<h4>911</h4>
					<h4>Sea Tow Destin: (850) 837-4152</h4>
					<h4>Boat US: (850) 395-2628</h4>
					<h4>USCG Station Destin: (850) 244-7147</h4>
					<h4>Okaloosa Sheriff (non-emergency): (850) 651-7410</h4>
					<h4>FWB Police Dept (non-emergency): (850) 833-9546</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
