<% content_for :title do %>Stops<% end %>
<% content_for :description do %>
The Emerald Coast Poker Run is our favorite event of the year. Check out all the stops on this year's list!
<% end %>


<!-- 30°24'56.81"N 86°29'22.21"W -->



<div class="drawPage stops">
  <div id="event-details" class="draw-dets">
    <div class="inside">
      <div class="boxSec poker-run">
        <div class="innerBox">
          <h1>2021 Emerald Coast Poker Run Stops</h1>
          <h2>August 13 &amp; 14</h2>
          <a href="/registration" class="btn-link one">Registration Info</a>
          <div class="clearfix btn-clear"></div>
          <a href="/register-now" class="btn-link two">Register Now</a>
        </div>
      
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1qven0lQNPeu6-t5klGCZqzzPFRU" class="newMap"></iframe>
        <div class="innerBox">
          <div class="paddedBox">
            <ul class="stopsList">
              <li><a href="https://www.legendarymarine.com/" target="_blank">Legendary Marine/Marina</a></li>
              <li>Tripp Tolbert's House</li>
              <li><a href="https://www.innondestinharbor.com/" target="_blank">Inn on Destin Harbor</a></li>
              <li><a href="https://www.greggorrmarinedestin.com/" target="_blank">Gregg Orr Marine</a></li>
              <li><a href="https://www.wharf850.com/" target="_blank">Wharf 850</a></li>
              <li><a href="https://ricksontheisland.com/" target="_blank">Ricks on the Island</a></li>
              <li><a href="https://www.facebook.com/AJsOnTheBayou/" target="_blank">AJ's on the Bayou</a></li>
              <li><a href="https://twogeorgesmarina.com/" target="_blank">Two Georges Marina</a></li>
              <li><a href="https://www.marinemax.com/" target="_blank">Marine Max</a></li>
              <li><a href="https://www.adventuremarina.com/" target="_blank">Adventure Marine</a></li>
              <li>Napkin Stop</li>
              <li>The Lewis Bear Stop - Crab Island</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
