<% content_for :title do %>Boat/Trailer Parking<% end %>
<% content_for :description do %>
The Emerald Coast Poker Run staff wants to make everything run as smoothly as possible, so you can focus on having fun! Here are some options for wet slips, boat parking, launches, etc...
<% end %>
 

<div class="slips-parking">
	<div class="txt-style">
    <div class="box-lay">
     <!--  <= link_to register_now_path, class: 'sign-up' do %>
      Register<br> Now
      < end %> -->

	    <div class="inside">
        <h1>Boat Trailer Parking <br><span>First Come, First Served</span></h1>
        <div class="two">
					<h4>Call to make your arrangements for boat trailer parking if needed.</h4>

					<div class="location">
						<p class="name">Two Georges Marina</p>
						<hr class="hlf less">
						<p class="loc">100 Old Ferry Road<br> Shalimar, FL 32579 </p>
						<p class="number"><a href="tel:+18506510510"><b>George Fussell: <br>850.651.0510</b></a></p>
						<a href="http://twogeorgesmarina.com/" target="_blank" class="slip-link">Visit Website</a>
					</div>

					<div class="location">
						<p class="name">Legendary Marina, Destin</p>
						<hr class="hlf less">
						<p class="loc">4601 Legendary Marina Drive<br> Destin, FL 32541</p>
						<p class="number"><a href="tel:+18503378200"><b>Jeremy Holcomb: <br>850.337.8200</b></a></p>
						<a href="http://legendarymarine.com/" target="_blank" class="slip-link">Visit Website</a>
					</div>

					<div class="location">
						<p class="name">Freedom Self Storage</p>
						<hr class="hlf less">
						<p class="loc">1500 Freedom Self Storage Road<br> Fort Walton Beach, FL 32547</p>
						<p class="number"><a href="tel:+18508644444"><b>850.864.4444</b></a></p>
						<a href="http://freedomselfstoragefwb.com/" target="_blank" class="slip-link">Visit Website</a>
					</div>
        </div>
	    </div>
    </div>
	</div>
</div>
<div class="clearfix"></div>
