<% content_for :title do %>Free VIP Upgrade <% end %>
<% content_for :description do %>
We want everyone to have the opportunity to enjoy The Emerald Coast Poker Run, so we have split the event into levels. Check the requirements to see which level is right for you!
<% end %>

<div class="vip-style">
  <!-- <div class="inside"> -->
    <div class="title">
      <h1>2020 Poker Run<br> <span>Free VIP Upgrade</span></h1>
    </div>

    <div class="extras">
      <h2>Only $295 with promo code (Regularly $395)</h2>
      <p>1 boat entry into the Emerald Coast Poker Run with 2 hands to play for a 2020 Emerald Coast Harley-Davidson</p>
      <i class="fa fa-circle"></i>
      <p>The Famous Captain's Cooler Bag and 2 Event T-shirts</p>
      <i class="fa fa-circle"></i>
      <p>Entry for 2 to all Emerald Coast Boat Week Events</p>
      <i class="fa fa-circle"></i>
      <p><b class="red">Free weekend stay at the IP Casino</b></p>
      <i class="fa fa-circle"></i>
      <p>Full Bar Access and VIP only gaming tables at the Poker Run Party</p>
    </div>
  <!-- </div> -->




  <div class="clearfix"></div>
  <div class="logos-abs">
    <%= image_tag('ecf-logo-min.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo') %>
    <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo lrl2') %>
    <%= image_tag('boat-week7-mid.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive top-img') %>
    <%= image_tag('boat-week7-mid.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive last-img') %>
  </div>

</div>

