<div class="cancel-message">
	<div class="inside">
		<p class="open">Good afternoon to our wonderful and loyal supporters.</p>
		<div class="body">
			<p>After further consideration, and out of an abundance of caution, <span>we have decided to cancel this year’s run.</span></p>
			<p>We are heartbroken about this, but are not giving up on raising money for our kids.
			We’ve got something awesome in the works and will make that announcement as soon as we finalize all the details.</p>
			<p>If you have already registered for the Poker Run, please hang tight. We will be contacting you.</p>
			<p>Thank you again for supporting the kids. Please stay tuned!</p>
		</div>

		<p class="closing">Peggy King<br>
		<span>President</span><br>
		<span>Emerald Coast Foundation</span></p>
	</div>
</div>