<div class="cancel-message">
	<div class="inside">
		<p class="open">To our wonderful and loyal supporters:</p>
		<div class="body">
			<p>After further consideration, and out of an abundance of caution, <span>we have decided to cancel this year’s run.</span></p>
			
			<p>We are heartbroken at its cancellation but are steadfast in raising money for our area kids! For 2020 only, we’re introducing <span>The Great Poker Run Draw Down</span> with your chance to <span>win $10,000!</span></p>

			<hr class="one"/>
			<p class="draw-dets"><span>Your $100 donation gets you:</span></p>
			<ul>
				<li>1 ticket and the chance to win the <span>grand prize of $10,000,</span> or one of many “loser” prizes including cash, 2021 Emerald Coast Poker Run entries, and swag.</li>
				<li>A one night stay at the IP Casino Resort & Spa</li>
				<li>The satisfaction of knowing you helped children in our area!</li>
			</ul>
			<hr class="two"/>

			<p>Thank you again for supporting the kids. Please stay tuned!</p>
		</div>

		<p class="closing">Peggy King<br>
		<span>President</span><br>
		<span>Emerald Coast Foundation</span></p>
	</div>
</div>
