<div class="getaway-dets">
	<p class="sig"><b><span class="red">**</span> To qualify for the weekend stay at the IP Casino Resort in Biloxi, you must submit a valid email address, and be at least 21 years of age. </b></p>
	<p>One stay per email address. Within 14 days of the IP Casino Resort receiving your address, you will receive an email confirmation from the IP Casino Biloxi and agree to receive correspondence from them. Please note, the correspondence from the IP Casino Biloxi may initially go to your spam folder.</p>
</div>