$black: #000;
$white: #fff;
$light: #ececec;
$dark: #1a1a1a;
$gray: #9d9d9d;
$offwhite: #f5f4f4;

$silver: #f5f4f4;
$font-color: #9d9d9d;
$gold: #b2ae9e;
$lt-blue: #d8e9f4;
$cream: #f7f5f2;

$green: #33CC66;
$navy: #27343e;
$red: #ff3720;
$blue: #506acb;
$logo-blue: #0d518c;
$logold: #f6c835;
// 599ace

$lt-teal: #aee3dd;
$lightest: #d6f1ee;
$teal: #36bbaa;
$aqua: #68b882;
$sea :#68b882;

$lato: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open: 'Open Sans', sans-serif;
$varela: 'Varela Round', sans-serif;
$franc: 'Francois One', sans-serif;
$raleway: 'Raleway', sans-serif;
$nano: 'nano_icon_font3';
$courg: 'Courgette', cursive;
