@import "variables";
@import "mixins";

/*****************************
*=   Top Area styles
******************************/

.infobar, #modal-discount {
    span, p, h3, li, h4, h1, h2, a { font-family: $lato; line-height: 1.4em; text-transform: uppercase; letter-spacing: 1px;}
}
.infobar{@include sec-default();background-color: $logold; padding: 10px 15px; text-align: center;
    a{color:$black; font-weight: bold;}
}
#modal-discount .uk-modal-dialog {padding: 50px 0px; text-align: center;
    .content {width: 50%; @include center-block();}
    p{color: $dark;}
    h3 span{color: $teal; margin-bottom:25px;}

    @include bp(xl) {
        .content {width: 70%;}
    }

    @include bp(ix) {
        .content {width: 95%;}
    }
}

.top-area {background: $teal none repeat scroll 0 0;padding: 10px 0;color: $white;
    span {content: '|'; width: 1px; height: 25px; position: absolute; background-color: $white;}
    .social-linls a {border-radius: 50%; color: $white; padding: 10px; margin-right:10px; transition: all 0.3s ease 0s;
        &.modal2 {margin-left:10px;}
    }

    .social-linls a:hover {background: $teal none repeat scroll 0 0;color: $dark;}
}

.logo-img { width: 145px; position: absolute; top:-1px; left:5%;}
header {background-color: $white;padding: 0 60px;}

/* End top area css */

/*****************************
*= 4.  Menu Dropdown styles
******************************/
.nav-footer.collapse {display: none;}
.nav-footer {display: inline-block;text-align: right;}
.nav-footer > ul > li {position: relative; display: inline-block; line-height: 100px;
    &.mobile-list {display: none;}
}

.nav-footer > ul > li > .nav-link {color: $dark;font-family: $raleway;padding: 0;font-weight: bold;transition: all 0.3s ease 0s;
    font-size: 17px; margin: 0 25px;
    &:hover { color: $teal;}
}

.nav-footer > ul > li > ul {position: absolute; top: 85%; left: 0; width: 100px; 
    z-index: 99999; background: $offwhite; text-align: left; visibility: hidden; opacity: 0; 
    padding-left: 0; 
    transition: all .5s ease; -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .11); box-shadow: 2px 2px 10px rgba(0, 0, 0, .11);
}
.nav-footer .submenu.extra {width: 260px;}
.nav-footer > ul > li:hover > ul {opacity: 1;visibility: visible;}
.nav-footer > ul > li > ul > li {line-height: 35px;}
.nav-footer > ul > li > ul > li > a {color: $dark; border-bottom: 1px solid $gray; display: block; padding: 0 15px; position: relative; transition: all 0.3s ease 0s;}
.nav-footer > ul > li > ul > li > a:hover {background: $teal;border-color: $teal;color: $white;}
.nav-footer > ul > li > ul > li.sig {background-color: red; color: white;
    &:hover {background-color: lighten(red, 20%);}
    a{color: $white;}
    a:hover {background: transparent;border-color: none;}
}

.header .custom {display: inline-block;float: right;
   ul li .nav-link { padding-top: 10px;}
}

.nav-toggler-box {
    float: right; margin-top: 20px;
    margin-right: 10px;
    position: relative; z-index: 9999;
    background-color: $white;
    border-radius: 4px;
    text-align: center;
    visibility: hidden;
}


#offcanvas-toggler {float:right;background-color:$white;text-align: center;border-radius: 4px;border: 1px solid $teal;
    width: 40px;padding: 10px 0 5px;
    display:none;

    h4 {color:$white; line-height:2em; padding-top:10px; }
    h4:hover {color:$black; text-decoration:none; }
    span {content: ''; @include center-block (); display: block; margin-bottom: 4px; width: 25px; height: 3px; border-radius: 4px; background-color: $teal;}
}

.offcanvas-menu .offcanvas-inner .module ul > li > a:hover{color:$white; background:$dark}
.offcanvas-menu .offcanvas-inner .module .menu .nav-child a{padding:4px 25px}
.offcanvas-menu .menu ul li{position:relative}
.main-menu { height:auto;}
.close-offcanvas{position:absolute; top:15px; right:15px; z-index:1; color:$white; border:2px solid #eee; border-radius:100%; width:22px; height:22px; line-height:18px; text-align:center; font-size:12px}
.close-offcanvas:hover{background:$black; color:$white}
.offcanvas-menu{width:280px; height:100%; background:$dark; color:rgba(255,255,255,0.5); position:fixed; top:0; opacity:0; z-index:9999; overflow-y:scroll;}
// .offcanvas-menu .offcanvas-inner{padding:20px} *******Added next line instead
.offcanvas-menu .offcanvas-inner .module .module-content {padding: 20px; padding-bottom: 0}
.offcanvas-menu .offcanvas-inner .module{margin-top:20px; height:100%;overflow-y:scroll;}
.offcanvas-menu .offcanvas-inner .module ul > li{ margin-bottom:15px; padding-bottom: 5px; padding-left: 15px; border-bottom:1px solid rgba($white, .4);
    &:last-child{margin-bottom: 0;}
}
.offcanvas-menu .offcanvas-inner .module ul > li.dropdown, .offcanvas-menu .offcanvas-inner .module ul > li.dropdown li{ border:none;}
.offcanvas-menu .offcanvas-inner .module ul > li a{ -webkit-transition:300ms; -o-transition:300ms; transition:300ms; padding:4px 20px; padding-left:0px; color: $white; width:70%;}
.offcanvas-menu .offcanvas-inner .module ul > li >a:before{display:none}
.offcanvas-menu .offcanvas-inner .module:first-child{margin-top:0}
.offcanvas-menu .offcanvas-inner .module .module-content > ul{margin:0 -20px; padding-top:20px;}
.offcanvas-menu{-webkit-transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1); transition:opacity 400ms cubic-bezier(0.7,0,0.3,1),right 400ms cubic-bezier(0.7,0,0.3,1)}
.body-innerwrapper:after{right:0}
.offcanvas-menu{right:-280px}
.offcanvas .offcanvas-menu{right:0}
.body-innerwrapper:after{position:absolute; top:0; width:0; height:0; background:rgba(0,0,0,0.8); content:''; opacity:0; -webkit-transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; transition:opacity 0.5s,width 0.1s 0.5s,height 0.1s 0.5s; z-index:999}
.offcanvas{width:100%; height:100%; position:relative}
.offcanvas .body-innerwrapper:after{width:100%; height:100%; opacity:1; -webkit-transition:opacity 0.5s; transition:opacity 0.5s}
.offcanvas .offcanvas-menu{opacity:1}
.menu .nav-child.small{font-size:inherit}
h3.module-title{color: $teal; font-weight: bold; }

.offcanvas-menu .offcanvas-inner .module ul.signup { @include sec-default(); background-color: $teal; padding:10px 0 5px;
    li a {color: $dark; font-weight: bold;}
    li:hover, li a:hover {background-color: transparent;}
    li:last-child {border-bottom:none}
}


@media (min-width: 1024px) {
  .header-right .nav-footer {display: inline-block !important;}
  .header-right .nav-toggler-box,
  .nav-footer ul .dropdown-expander {display: none;}
}

@media (max-width: 1200px) {
    .nav-footer > ul > li > .nav-link {font-size: 17px; margin: 0 0px 0 30px;}
}

// @media (max-width: 1151px) {
    // .logo-img {position: relative; display: inline-block; width: 11%; padding-bottom: 10px;}
    // header{ display: inline-block; float: right; width: 85%; padding-left:30px; padding-right: 10px;}
    // .nav-footer > ul { float: right;
        // li > .nav-link {margin-right: 15px;}
    // }
// }

// @media (max-width: 1150px) {
  // .header .header-right {float: none !important;text-align: center;}
  // .header .header-right .header-searchbar {float: none !important;display: block;}
  // .header .header-right .nav-footer {float: none !important;text-align: left !important;}
// }

@include bp(xl) {
    // #offcanvas-toggler { display:inline-block; margin-top: 2%;}
    .header-right.custom {display: none;}

    header {padding-bottom: 10px;}
    #offcanvas-toggler { display:inline-block; margin-top:3%;}
    .logo-img {position: relative; display: inline-block; width: 125px; left:auto; float:left; margin-top:-30px;}
}

@include bp(md) {
    // header {padding-bottom: 15px;}
    .header-right .nav-footer {display: none;}
    .xs-r {margin-left: 45%; padding-right: 0;}
    // .logo-img {position: absolute; display: inline-block; width: 15%; padding-bottom: 10px; top:1px;}
    .nav-link {color: $white;}
    .top-area .social-linls a {padding: 5px; margin-right:5px;}
}

@include bp(mb) {
    .xs-r {@include sec-default ();margin: auto; padding:auto; .social-linls{text-align: right; @include sec-default();} }
    header{padding:10px 60px;}
    .logo-img {margin-top: 0;}
    #offcanvas-toggler { margin-top:6%;}
}

@media (max-width: 600px) {
  .tp-caption {display: none !important;}
}

@include bp(sm) {
    .main-header{padding:0;}
    // header {padding-left:25px;padding-right:25px; width:75%;}
    #offcanvas-toggler { margin-bottom: 10px; }
    .logo-box {width: 65%;}

    .xs-r .social-linls{text-align: center;}
    // .logo-img {position: relative; display: inline-block; width: 22%; padding-bottom: 5px;}
    .offcanvas-menu .offcanvas-inner .module ul > li a{ width:85%;}
}

@include bp(xs) {
    .xs-r .social-linls {
        span {display: none;}
        a.modal2 {display: none;}
    }
}
