// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "mixins";

.home, .home-alt {
	.home-top {@include sec-default(); background-color: $logo-blue; padding: 40px 0px 60px; position: relative; z-index: 0; 
		&::after{@include before(); height:100%; width:65%; z-index:-2; @include sec-bgimage();background-image: url(image_path('collage.jpg')); background-size: cover;}

		.open {text-align: center;
			h1, h2, h3, .reg-now{text-shadow:0px 1px 1px rgba(black, .5);}
			h2, h1 span {color: lighten($blue, 35%);font-family: $courg; font-weight: bold; text-transform: none;}
			h2{font-size: 2.3rem;}
			h1 {line-height: 1.2em; margin-top: 0px; font-size:2.6rem;font-family: $lato; font-weight: 800; color:$teal; margin-bottom:5px; text-transform: uppercase; }
			h3 {font-weight: 600;color: white; margin-bottom: 50px; line-height:1.5em;}
			h3 span{color: lighten($teal, 5%);}
			br.cst-br{display:none;}
			.spacer {@include sec-default(); margin-bottom: 15px;}

			ul{margin-bottom: 20px;}
			.reg-now {background-color: $red; box-shadow:0px 5px 20px rgba($black,.3); padding: 7px 20px; font-size:18px; color: $white; font-weight: bold; font-family: $lato;}
		}
		.title-box {display: inline-block; width: 35%; float: right;}

		#countdown{ background: none; @include center-block(); text-align: center; padding-top: 0px;
	    li {display: inline-block;
	    	span{color: $white; @include tshadow ($black); padding: 15px 0; font-size: 50px; font-weight: 700;}
	    	span:after {content: ':'; display: inline-block; color: $white; @include tshadow ($black); vertical-align: middle; position: relative; bottom: 5px; margin-left: 3px;}
	    	p {text-indent: -15px; color: $white; text-transform: uppercase; font-weight: 800; margin-top: 5px; font-size: 14px; @include tshadow ($black);}
		    &:last-child span:after {display: none;}
		    &:last-child p {text-indent: 0;}
	    }
		}


		@include bp(tw) {
			.open br.cst-br{display:block;}
		}

		@media screen and (max-width: 1120px) {
			.open {
				h1 {font-size: 2rem;}
				h2 {font-size: 1.8rem;}
				h3 {font-size: 1.35rem;}
			}

			#countdown li {
				span{font-size: 40px;}
				p {font-weight: 600; font-size: 13px;}
			}
		}

		@include bp(xl) {padding: 35px 10px;
			.open .reg-now {font-size:16px;}
		}

		@include bp(ix) {position: relative; z-index: 0; background-size: 100%;
			&::before {@include before();background-color: rgba($black, .65);z-index: -1; height:100%;}
			&::after{width:100%;}
			
			.title-box{width: 95%; @include center-block();}
			.open {
				h3.date{margin-bottom: 25px;}
			}
		}

		@include bp(sm) {background-size: cover;}
	}

	.covBox {@include sec-default(); padding:12px 0 10px; background-color: $red; text-align: center;
		a{font-size: 22px; color:$white; text-shadow: 0px 1px 2px rgba($black, .2); font-weight: bold; text-transform: uppercase; font-family: $lato; letter-spacing: .5px;}
		@include bp(xl) {padding:10px 0 8px; a{font-size: 19px;}}
		@include bp(oc) {a{font-size: 16px;}}
		@include bp(pt) {a{width:80%; @include center-block();}}
	}

	.cst-ebox {@include sec-default(); padding:50px 0; background-color: $white; background-image: url(image_path('noisy.jpg'));
		h3 {margin-bottom:5px; text-align: center; line-height: 1.2em; color: $dark; font-size: 32px; font-family: $lato; font-weight: bold;}
		h4 {font-size: 18px; margin-bottom: 5px;}
		h5 {font-size: 25px; font-weight: bold; text-align: center; color: $teal;}
		p{color: $dark; margin: 0px 0 20px; font-size: 17px; line-height: 1.6em;}
		.ebox {width: 1040px; @include center-block();}

		.top {@include sec-default(); margin-bottom: 40px; text-align: center;
			p{font-size: 20px; font-weight: bold; margin-top:0;
				span{color:$blue;}
				a{color: $teal; text-decoration: underline;}
			}
			hr.hlf{width:40%; border-color: rgba($black,.2);}
		}
		
		.mtext{@include sec-default(); margin-bottom: 30px;
			.ltext, .rtext {display: inline-block; float: left;
				p{margin-bottom: 15px;}
			}
			.ltext{width: 33%; margin-left: -5%;}
			.rtext {float: right; width: 71%; margin-right:-3%;}
		}

		.rls {@include sec-default(); margin: 10px 0 0px; text-align: center;}
		.run-logo{display: inline-block; padding: 5px 10px;height: 110px;
			&:first-child{height: 100px;}
		}
	
		@include bp(tw) {
			.ebox {width: 85%;}
			.mtext{
				.ltext{width: 29%; margin-left: 0;}
				.rtext {width: 67%; margin-right:0;}
			}
		}

		@include bp(xl) {padding: 35px 0;
			h3{font-size: 29px;}

			.ebox {width:80%;}
			.top{margin-bottom:15px;
				p{font-size: 19px;}
			}
			.mtext{
				.rtext{@include sec-default();}
				.ltext{display:none;}
			}
			.rls{margin-top: 0;}
		}

		@media (max-width: 992px){padding: 20px 0;
			.top {margin-bottom: 10px;}
			h3 {font-size: 26px;}
			h4 {font-size: 16px;}
		}

		@include bp(ix) {
			.ebox{width:90%;}
			.top, .mtext{margin-bottom: 0;}
		}	

		@include bp(md) {padding: 25px 0 10px;
			.run-logo{height: 100px; margin: 5px;
				&:first-child{height: 80px;}
			}
		}

		@include bp(pl) {
			h3{font-size: 19px;
				span{font-size: 25px;}
			}
			h4 {font-size: 17px;}
			p {font-size: 15px; margin-bottom: 5px;}
			.top p{font-size: 16px;}
			.run-logos {width: 85px;}
		}

		@include bp(ph) {width:95%;
			h3{font-size: 20px;}
			h4{font-size: 16px;}
			.top br{display:none;}
		}

		@include bp(pt) {
			h4{font-size: 15px;}
			h5 {font-size: 20px;}
		}
	}

	.foundation {
		@include sec-default ();padding: 50px 0 60px;

		.motto {width: 60%; @include center-block(); text-align: center; padding-bottom: 30px;
			h4 {font-size: 15px; font-style: italic; line-height: 1.3em; padding:10px 20px; font-weight: bold;}
			img {width: 50%; @include center-block();}
		}

		.tb-half, .slider-mob{display: inline-block; float: left; width:58%;}
		.slider-mob{width:39%; float: right;}

		.text-box {
			@include sec-default();
			padding: 40px 40px 20px;
			background-color: $cream;
			h3 { font-family: $franc; margin-bottom:20px;}
			p { color: $dark;}
		}


		@media (max-width: 992px){
			.motto {width: 80%;}
			.tb-half{ @include sec-default(); margin-bottom: 30px;}
			.text-box {padding: 30px 30px 20px; }
			.slider-mob {@include sec-default();}

		}

		@include bp(md) {
			padding: 25px 0;
		}

		@include bp(mb) {
			.motto {width: 85%; padding-bottom:0;
				h4 { padding:10px 0;}
			}
		}

		@include bp(sm) {
			padding-left:15px;padding-right:15px;
			.motto {width: 100%;}
			.donation { overflow: hidden;}
			// .text-box {padding: 10px; h3{margin-left:10px;}}
		}
	}

	.lodge-list {@include sec-default(); text-align: center; background-color: #f7f7f7; padding:30px 0;
		.lodge-inner{width: 75%; @include center-block();}
		h4, h3, p { font-family: $lato; text-transform: uppercase; letter-spacing: 2px; font-weight: bold;}
		p {color: $dark; font-weight: normal; letter-spacing: 1px;}
		h3 {color: $teal; font-weight: 900;}
		h4{font-size: 19px; margin-bottom: 10px; margin-top: 15px;}

		.plat, .gold, .bronze { padding: 15px 20px; @include sec-default(); }

		.home-lodge { padding:12px 10px; width:310px; @include center-block();
			@include sec-bgimage(); background-size: cover; text-align: center;background-image: url(image_path('sea-under.jpg')); box-shadow: 10px 10px 10px rgba($dark, .2);
			img{height:80px; @include center-block(); background-color: $white; padding:5px 0; box-shadow: 10px 12px 15px rgba($dark, .4); border:1px solid rgba($gray, .1);}
			img.dk {background-color: $black;}
			&.one {background-image: url(image_path('sea-over.jpg'));}
			&.alt{
				img{background-color: $black;}
			}

			&.sq {background-image: url(image_path('sea-over-sq.jpg')); width:35%;
				img{height:auto; width:90%;}
			}

			&.sq.withp {width:304px; padding:12px 0 0;
				img{width:88%;}
				p{background-color: $logo-blue; color:$white; padding:10px 15px; margin:15px 0 0;
					font-size:19px; line-height: 1.6em; font-weight:bold; @include tshadowl($black);}
				a{color: $white;}
			}

			&.sq.mid {width:290px; padding:15px 0;
				img{width:88%;}
				p{background-color: $logo-blue; color:$white; padding:10px 15px; margin:15px 0 0;
					font-size:19px; line-height: 1.6em; font-weight:bold; @include tshadowl($black);}
				a{color: $white;}
			}

			&.inline {display: inline-block; margin: 40px 2% 15px;}
			// &.inline.il2 {float: right;}

		}

		&.alt {width: 57%; float: right; padding:0;
			background-color: transparent;
			.lodge-inner{width: 100%;}
			h3 {color: white;}
			p {color: white; font-size: 14px;}
			h4 {color: white; margin: 5px 0; font-size: 17px;}
			.home-lodge {padding: 10px; width:100%; img{height: auto;}}
			.plat, .gold {display: inline-block; float: left; }
			.plat {width: 55%;}
			.gold {width: 45%;}

			.bronze {margin-top: 20px;
				.home-lodge {display: inline-block; width: 40%; }
			}
		}

		@include bp(xl) {
			.lodge-inner{width: 90%;}
		}

		@media (max-width: 992px) {padding: 15px 0;
			.lodge-inner{width: 100%;}
			h3 {font-size: 1.35rem;}
			.plat, .gold, .bronze { padding: 10px 15px;}

			.home-lodge {width: 285px;
				img {height: 70px;}

				&.sq.withp, &.sq {width:275px;
					img{width:88%;}
				}
				&.sq.withp {
					p{padding:10px 15px; margin:15px 0 0; font-size:17px; }
				}
				&.inline{@include center-block();}
			}
		}

		@include bp(mb) {padding-bottom: 0;}
	}
}



#offcanvas-captn {
	.uk-offcanvas-bar { text-align: center; background-color: darken(red, 8%); width:300px;}
	.captn { padding: 0px 10px; text-align: center;
		h3 {color: $dark; font-weight: bold; font-size: 19px; margin: 10px 0 25px;}
		h4 {color: $white;line-height: 1.4em; font-weight: bold;
			span {color: $dark; font-weight: bold;}
		}
		.meeting{ @include sec-default(); background-color: darken(red, 8%); margin:auto; padding:15px 10px; margin-bottom: 15px; border-bottom: 1px solid $white;}
		p.sm {font-size: 15px; text-align: center;}
	}
}

.payment, .party-tickets {
	.pay-header {@include sec-default(); padding: 35px 15px; text-align: center; background-color: $cream;}
	h1 {font-size: 1.7em;}
	h3.det {font-size: 1.2em; line-height: 1.4em; margin-top: 15px;}
	h4 {line-height: 1.4em; margin: 20px 0;}
	form {@include center-block();}
	.page-content {@include sec-default(); padding:20px 0;}

	@include bp(pl) {
		.pay-header {padding: 20px 15px;}
		h1 {font-size: 1.5em;}
	}
}

.party-tickets .ticketpage {
	// .jotform-form, form, .simple_spc, #JotFormIFrame-81655404741153, .supernova {background:$logo-blue !important;background-color:$lt-blue !important;}
	iframe {box-shadow: 0px 5px 8px rgba(black, .15);}
	
	// #81655404741153
	// .jotform-form, .supernova .form-all, .form-all{background-color:transparent !important;}
	.pay-header{background-color: $logo-blue;
		h1, h3 {font-weight: bold; color: $white; }
		h4 {color: $cream; font-weight: bold; text-shadow: 0px 1px 1px rgba(black, .6);
			width:75%; @include center-block(); letter-spacing: .5px;
		}
	}
	p{color: black; padding: 20px; }

	// .form, .image-right{display: inline-block; float: left; width:50%; margin-left: 7%;}
	// .image-right { width:30%;}

	.page-content{background-color:$cream;}
	.tix-info{@include sec-default(); text-align: center; border-bottom:1px solid rgba($dark,.1);
		h4 {font-weight: 900; color: $teal; margin-bottom:10px;}
		p {color: $dark; font-weight: 700; letter-spacing: .5px; font-size:17px;}
		p span {color: $blue;}
	}

	@include bp(ix) {
		.pay-header h4{width:90%;}
	}

	@include bp(md) {
		// .form, .image-right{ width:68%; margin-left: 0;}
		// .image-right { float: right;}
	}

	@include bp(pl) {
		p{padding: 10px 0;}
		// .form {@include center-block(); width: 95%;}
		// .image-right{display: none;}
	}
}

.title-line { content: ''; width: 8%; @include center-block (); height:1px; background-color: $dark; margin-bottom:20px;}

br.xxs {display: none;}
@include bp(xs) { br.xxs {display: block;} }


.lodge {
	@include sec-default(); text-align: center; padding-top: 20px; border-top: 1px solid $logo-blue;
	.lodge-inner {@include sec-default();padding: 30px 0 50px;}
	.bronze{@include sec-default(); margin-top: 35px; }
	.home-lodge {
		@include sec-default(); padding:20px 10px; @include sec-bgimage(); text-align: center;background-image: url(image_path('sea-under.jpg')); box-shadow: 10px 10px 10px rgba($dark, .4);
		img{@include center-block(); background-color: $white; padding:5px 0; display:inline-block; box-shadow: 10px 12px 15px rgba($dark, .4); border:1px solid rgba($gray, .1)}
		img.dk {background-color: $black;}

		&.sq {background-image: url(image_path('sea-over-sq.jpg')); 
			width:304px; @include center-block();
			img{height:auto; width:90%;}
		}

		&.sq.withp {width:304px; padding:12px 0 0;
			img{width:88%;}
			p{background-color: $logo-blue; color:$white; padding:10px 15px; margin:15px 0 0;
				font-size:19px; line-height: 1.6em; font-weight:bold; @include tshadowl($black);}
			a{color: $white;}
		}

		&.sq.mid {width:290px; padding:15px 0;
			img{width:88%;}
			p{background-color: $logo-blue; color:$white; padding:10px 15px; margin:15px 0 0;
				font-size:19px; line-height: 1.6em; font-weight:bold; @include tshadowl($black);}
			a{color: $white;}
		}

		&.inline {display: inline-block; margin: 40px 2% 15px;}
	}

	h2, h4 {font-weight: bold; color: $teal; margin-bottom: 15px;text-shadow: 0px 1px 1px rgba($dark, .2);}
	h4{font-size: 22px; margin-bottom: 25px; color: $white; }
	

	@include bp(ix) {
		.home-lodge{
			&.sq, &.sq.withp, &.inline {@include center-block(); width:280px;}
			&.sq.withp p{font-size: 17px;}
		}
	}

	@include bp(md) {
	}

	@include bp(pl) {
		.home-lodge {margin-bottom: 30px;}
		h4{margin-bottom: 10px;}
	}
}

.lodging {
	h1, h3 {font-weight: bold;line-height: 1.3em; text-shadow: 0px 1px 1px $light;}
	.head-1 {@include sec-default(); background-color: $dark; @include sec-bgimage(); background-repeat: repeat; background-image: url(image_path('pattern.jpg')); padding: 25px; text-align: center; }
	.lodge{border-top: none; padding-top:0;
		.lodge-inner {background-color: $cream;}
		h4 {color: $logo-blue;}
	}
	@include bp(xl) {
		h1{font-size: 2.1rem;}
		h3{font-size:1.5rem;}
	}
}

.register-now {
	.reg-info {@include sec-default();background-color: #f5f5f5; padding: 60px 0 0px;
		span, p, h3, li, h4, h1, h2, a { font-family: $lato; line-height: 1.6em; text-transform: uppercase; letter-spacing: 2px;}
		text-align: center;
		h1{margin-bottom: 15px; color: $logo-blue;}
		p{color: $dark; letter-spacing: 1px; font-weight: bold; margin-bottom: 0;}
		p span {color: red; font-weight: 800;}
	}
	.inner {width: 90%; @include center-block();}

	.viplink {@include sec-default();padding: 10px 0; }
	.vip-btn {width: 200px; @include center-block(); background-color: rgba($logo-blue, 1); background-color: $teal; color: white; font-weight: bold; padding: 5px 15px;
		&:hover {opacity: .8;}
	}

	.form-row{width:100%; display: block; float:left; margin-top:45px;
		.formside, .sidebar {display: inline-block; float: left; width:55%; }
		.sidebar {width:40%;text-align: left;
			h4{color:$logo-blue; font-weight:800;}
			p {font-weight: normal;}
		}
		.formside {float:right;}

		.getaway-dets {
			p{line-height: 1.6em; text-transform: none; letter-spacing: 0;}
			p.sig {text-transform: uppercase; color:$red;}
			p b {font-weight: bold;}
			span.red{color:$red;}
		}
		.ins-dets{width:100%; margin-top:40px;}
	}


	@include bp(xl) {
		.form-row{
			.sidebar, .formside { @include sec-default();}

			.sidebar{
				p{font-size:15px;}
			}
			.getaway-dets,.ins-dets, h4.gad{@include center-block(); width: 90%;}
			.ins-dets{ margin-top:20px;}
		}
	}

	@include bp(ix) {
		h1{font-size: 29px;}
		.reg-info {padding: 25px 0 0px;}

		.form-row{margin-top: 25px;
			.sidebar{
				p{font-size:14px;}
				h4{font-size:16px;}
			}
			.getaway-dets,.ins-dets, h4.gad{@include sec-default();}
			.ins-dets{ margin-top:20px;}
		}
	}

	@include bp(pt) {
	}
}

.registration, .safety-rules, .slips-parking {
	button {background-color: red; color: $white; font-weight: bold; padding: 10px; border: none; font-size: 14px}
	.txt-style {span, p, h3, li, h4, h1, h2, a { font-family: $lato; line-height: 1.4em; text-transform: uppercase; letter-spacing: 2px;}}

  .pb-parallax {@include sec-default ();padding: 55px 0; text-align: center;background-color: #f7f7f7;
  	.inner-pb {width:81%; @include center-block();}
  	.text-half, .image-half {display: inline-block; float: left; width:50%;}
  	.image-half{width:55%; margin-left: -5%; position: relative; z-index: 0; text-align: center;
  		img{display: inline-block; float: none; width:30.5%; margin-left: 2%;} //194x339 pl15
  	}
    
    .text-sec {@include sec-default ();background-color: $white;border: 1px solid rgba($gray, .1);
      position: relative;z-index: 10;padding: 25px 35px;margin-top: 7%;
      p { margin-bottom: .5rem; color: $dark; letter-spacing: 1px; text-transform: none;}
      hr { margin-top: .1rem;}
      h4 {font-weight: bold;}
    }

    .getaway-dets {width:75%; @include center-block();
			p{line-height: 1.6em; text-transform: none; letter-spacing: 0;}
			p.sig {text-transform: uppercase; color:$red;}
			p b {font-weight: bold;}
			span.red{color:$red;}
		}

		@include bp(xl) { 
	  	.inner-pb {width:90%;}
	  	.text-sec {margin-top: 5%; padding:25px;}
		}

		@media screen and (max-width: 1023px) {padding: 50px 0 20px;
	  	.inner-pb {width:85%;}
	  	.text-half {width:60%;}
	  	.image-half {width:45%;
	  		.pb-img1 {display: none;}
	  		img{width:47%;}
	  	}
      .getaway-dets {width:85%;}
		}

    @include bp(ix) {padding:30px 0 20px;
      .inner-pb {width:85%;}
	  	.image-half {display: none;}
      .text-half, .getaway-dets {@include sec-default();}
      .text-sec{margin-top: 0;}
    }

    @include bp(mb) {
      // .text-sec {width: 90%;padding: 20px 25px;}
    }

    @include bp(sm) {padding: 10px 0 30px;
    	.container {padding:0;}
      // .text-sec {width: 100%;padding: 20px 15px;margin-left: 0;
      //   span {width: 100%; float:left; }
      // }
    }
    @include bp(xs) {
      // .text-sec {padding: 15px; margin-left: 0;}
    }
  }

  .sign-up { width:180px; height:55px; @include rotate(270deg); text-align: center; z-index: 100;
    right: -64px; padding-top: 15px; position: fixed; top: 29%;
    background-color: darken(red, 5%); color: white; font-weight: bold; @include tshadowl($black); border: 1px solid rgba($black, .3); font-size: 17px;
    &:hover {opacity: .8;}

    height:45px; padding-top:10px; right:-68px;
  }

	hr.hlf{width: 40%; @include center-block();
		&.xtra {margin-bottom: 25px; }
		&.less {width: 15%; margin-bottom:25px;}
	}

  .box-lay {@include sec-default(); padding: 40px 20px 60px; background-color: $blue; text-align:center;
  	.meetings{ @include sec-default(); background-color: $logold; padding:20px 20px 20px 40px;
  		h2,h3,h4,p, span{letter-spacing: 1px; text-align: left; color: $dark;}
  		.title-line{float: left; opacity: .5;}
  		h2{font-weight:bold; margin-bottom: 7px; font-size: 1.7rem;}
  		span{font-weight: bold;}
  	}

  	.inside {width: 80%; @include center-block();}
  	span, p, h3, li, h4, h1, h2 { color: white; }

  	h1 {line-height: 1.1em; font-weight: bold; font-size: 1.8rem; letter-spacing: 2px; overflow: hidden;
  		span {font-size: 2.5rem; letter-spacing: 5px; background-color: $blue; position: relative; z-index: 0; padding: 0 4px 0 7px;
		  	&::before {@include before(); width:200%; left:-45%; z-index: -1; height:1px; top:55%; border-bottom: 2px solid white; }
  		}
  	}
  	h2 {margin-top: 0; letter-spacing: 4px;}
  	h3.price {font-size: 2.3rem; line-height: 1.5em; font-weight: 900; color: $white; letter-spacing: 2px; text-shadow: 0px 1px 1px rgba($dark, .6); background-color: $teal;
			&.less {text-shadow: none; font-weight: bold;}
  	}
		h4.title {@include sec-default(); font-size: 1.4rem; font-weight: bold; color: $white;  margin: 15px 0 8px; letter-spacing: 2px;}
  	h4.teal {color: darken(#1a9ac5, 5%); font-weight: 900; font-size: 1.3rem; margin-bottom: 15px; letter-spacing: 1.5px;}
  	li {color: $blue; line-height: 1.4em; font-size: 18px; margin-bottom: 15px; font-weight: 900; letter-spacing: 1px;
  		&:nth-child(2n+2) {color: $logo-blue}
  	}
  	ul {padding: 20px 0;}

		.logos{
			.run-logo {display: inline-block; float:none; }
			.run-logo.ip{ width: 130px; height: auto; padding: 5px;}
			.run-logo.ecf {width: 260px; height: auto; margin-right:15px; margin-top: 20px;}
		}

		.two {@include sec-default();
			background-color: white;
			padding:20px 5px;
			margin-top: 5px;

			span.red {color: $red;}
			.getaway-dets{width:80%; @include center-block(); margin:20px auto;
				p{color:$black;text-transform: none; letter-spacing: 0px;}
				p.sig{color:$red; line-height: 1.6em; margin-bottom: 5px;}
				p b{font-weight:800; text-transform: uppercase;}
			}
		}

		.btns {@include sec-default(); text-align: center; }

		.vip-btn, .add-info {display: inline-block;float: none; background-color: rgba($logo-blue, 1); color: white; text-align: center; font-size: 16px; padding: 10px 20px; margin: 0 7px 10px; font-weight: bold; border-radius: 5px;
			&:hover {background-color: rgba($logo-blue, .8); color: white;}
		}

		.add-info { background-color: rgba($teal, 1);
			&:hover {background-color: rgba($teal, .8); color: white;}
		}
  	p.fuel {@include sec-default(); margin: 0; padding: 15px 0 10px; background-color: $white; text-align: center; color: $black; font-weight: bold; font-size:19px; letter-spacing: .5px;}
  }

	.vip {@include sec-default(); padding: 50px 0px; text-align: center; background-color: $white;
		h3 {color: $white; font-weight: 900; margin-bottom: 10px;
			span {color: $logold; text-shadow: 0px 1px 1px rgba($dark, .4)}
		}
		b.red {color: $red;}

		p {font-weight: bold; margin-bottom:5px; font-size: 17px; color: $dark;
			span {font-size: 15px;}
			b{color: $blue; font-weight: 700;}
		}
		h4 {font-weight: bold;}
		h4.perk {color: $teal; font-weight: 900; font-size: 19px; }
		i.fa-circle {color: $teal; font-size: 7px; margin-bottom: 15px; }


		.left, .right {display:inline-block; float: left; width: 40%; }
		.right {width: 55%; float: right;}
		.left {background-color: $teal; padding: 25px; margin-top:10px;
			.inner {@include sec-default(); padding: 40px 5px 20px; border: 1px solid white; }
			p{font-size: 14px; letter-spacing: 0px; }
		}
	}

	.eoy-special.vip { padding: 30px 0px 50px;
		h3.red {color:$red; text-decoration: underline; margin-bottom: 40px; text-shadow: 0px 1px 2px rgba($black,.2);}
		h4.perk span {color: $logo-blue;}
	}

	.tix {@include sec-default(); padding: 25px 0px; background-color: $blue; text-align:center;
		.inner {width: 80%; @include center-block(); background-color: white; padding: 20px;}
		h4 {font-weight: 900; color: $teal; margin-bottom:10px;}
		p {color: $dark; font-weight: 700;}
		p span {color: $blue;}

		.tx-btn {width: 40%; padding: 10px 20px; @include center-block(); text-align: center; background-color: $teal; color: $white; font-weight: bold;
			border-radius: 15px; box-shadow: 0px 5px 8px rgba(black, .3);text-shadow: 0px 1px 1px rgba(black, .3);

			&:hover {background-color: rgba($teal, .6);}
		}
	}

	#addt-tix.uk-modal{
		.uk-modal-dialog.uk-modal-dialog-large{padding:0; width:90%; @include center-block();}
		.content{@include sec-default(); text-align: center; background-color: white; padding: 20px;}
		.uk-close {font-size: 30px; top:12px; right:15px;}
		// .side{display: inline-block;float: left; width: 30%;}
		// .wide {display: inline-block; float: right; width: 68%;}
		h3 {font-size: 1.5rem; margin-bottom:10px;}
		h4 {margin-bottom: 20px; letter-spacing:1px;}
		h4 b {color: $teal; }
		h4 span {color: red; font-size: 15px;}
		h4 b span {color: black; }
		p{font-size: 14px;}
	}

	@media (min-width: 1366px) {
		.box-lay {
			.inside {width: 65%; }
		}
	}

	@media (max-width: 1366px) {
		.box-lay { padding: 40px 0;
			.inside {width: 65%; }
		}
	}

	@include bp(xl) {
  	.sign-up{font-size: 15px; height:40px; padding-top:9px; right:-70px;}

		.box-lay {
			.inside {width: 90%; }
		}

		.vip{
			.container {padding:0;}
			p {font-size: 16px;}
		}
	}

	@media (max-width: 992px) {
		.box-lay {
			.inside {width: 95%; }
			h1 { font-size: 1.5rem;
	  		span {font-size: 2.2rem;
			  	&::before {width:200%; left:-50%;}
	  		}
	  	}
	  	h3.price {font-size: 2rem; }
	  	h4.title {font-size: 1.2rem;}
	  	ul {padding-bottom:10px;}
	  	hr.hlf {margin: 10px auto;}
		}

		.vip{padding:20px 10px;
			hr.hlf.less {margin-bottom: 15px; margin-top: 10px;}
			.left {width:80%; float: none; margin:auto; padding: 10px;
				.inner {padding: 15px;}
				h3 {margin-bottom: 0;}
			}
			.right {@include sec-default(); margin-top: 20px;}
		}

		.tix .tx-btn {width: 60%;}
		#addt-tix.uk-modal{
			.side, .wide{ width: 98%; @include center-block();}

			h3 {font-size: 1.2rem; margin-bottom:10px;}
			h4.last {margin-bottom: 0;}
			iframe{margin-top: -20px;}
		}
	}

	@include bp(md) {
		.box-lay {
			li {font-size: 1em;}
			ul {padding:10px 0 5px;}
	  	h4.title, h4.teal {font-size: 1rem;}
		}
		.vip .left {width: 95%;}

		#addt-tix.uk-modal iframe{margin-top: -5px;}
	}

	@include bp(mb) {
		.box-lay {
			h1 span::before { width:180%; left:-40%;}
			.two .getaway-dets{width:90%;}
		}
		.tix .tx-btn {width: 100%;}
	}

	@include bp(pt) {
		.box-lay {
			h1 span::before { width:118%; left:-10%;}
			h3.price {font-size: 1.7rem;
				&.less {font-size: 1.4rem;}
			}
		}
	}
}

.slips-parking {
	.box-lay {
		.two{padding: 0 0px;}
  	h1 {font-size: 2rem;
  		span {font-size: 2rem;}
  	}
  	h4 {margin-top:0px; color: white;background-color:$teal;font-weight: 900;font-size: 1.3rem; margin-bottom: 15px; letter-spacing: 1.5px; padding:10px;}
  	p{color:$dark;margin-bottom:7px;}

  	p.name{font-weight: 900; color: $logo-blue; letter-spacing: 2px; font-size: 1.2em; margin-top:15px;}
		a.phoneBook{font-weight:bold;}
  	.location {@include sec-default(); margin-bottom:30px;
		p.fuel {color: $teal;margin-bottom:10px; font-weight:bold;}
  	}

  	hr.hlf.less{margin-top:0; margin-bottom: 15px;}
		p.number{margin-bottom: 20px;}
  	.slip-link {width: auto; background-color: $blue; color: white; padding: 5px 15px;
		&:hover {opacity: .7;}
  	}
  }
}

.safety-rules {
	.box-lay {padding: 40px 0px;
		.meetings{ @include sec-default(); background-color: $logold; padding:20px 20px 20px 40px;
			h2,h3,h4,p, span{letter-spacing: 1px; text-align: left; color: $dark; text-align: center;}
			.title-line{float: left; opacity: .5;}
			h2{font-weight:bold; margin-bottom: 7px; font-size: 1.7rem;}
			span{font-weight: bold;}
			h2 span{text-decoration: underline;}
		}


		.inside {@include sec-default(); background-color: white; }
		.two { width: 90%; @include center-block();text-align: left; padding:20px 0;}
	  	li {font-size: 16px; font-weight: normal; text-transform: none; letter-spacing: 1px}
	  	h4 {color: $dark}
	}

	.numbers {@include sec-default(); background-color: $teal; padding:15px;
		h4 {margin: 5px 0 7px; text-transform: none; letter-spacing: 1px}
	}

	// KPKP DELETE AFTER ADDING 2020 INFO
	@media (min-width:640px){
		.box-lay {min-height:70vh;}
	}
	
	@include bp(oc) {}
}

.events {
	.uk-modal#friday .mapimg{ position:relative; z-index: 30;}
	.btn-contest{background-color: $teal; color: $white; font-weight: bold;}

	.schedule-events {
		@include sec-default ();
		padding: 15px 0;
		background-color: $offwhite;

		@include sec-bgimage ();
		background-image: url(image_path('cove.png'));
		position: relative;
		z-index: 1;

		&::before {
		    background: $offwhite none repeat scroll 0 0;
		    content: "";
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 100%;
		    opacity: .93;
		    z-index: -1;
		}

		.ip {width:120px; float:right}
		.border-box {
			width: 55%; @include center-block();
			text-align:center;
			h4 {padding-top:30px; color: $dark; font-weight: 600; }
			h1 {color: $dark; font-weight: 800;}
			p { padding-top:15px; font-style: italic; color: $dark;}

			.left, .ip {display: inline-block;}
		}

		@include bp(md) {
			.border-box {width:95%;}
		}

		@include bp(pl) {
			.ip{width:80px;}
			.border-box {
				h1 {font-size: 30px;}
				h4 {padding-top: 10px;}
			}
		}

		@include bp(pt) {
			.border-box .left, .ip{@include center-block();}
		}
	}

	.e2-link { width: auto; float:none; background-color: $teal; padding:5px 15px; border-radius:5px; color: $white; font-size: 15px;
  	&:hover {transition: all 500ms ease 0s;background-color: $dark; }
	}

	.others{
		@include sec-default (); text-align: center; padding: 40px; background-color: $cream;
		h3 {font-size: 22px; font-weight: bold; margin-bottom: 15px; font-family: $franc; color: $black;}
		h4 {margin-bottom:10px; font-size: 16px;
			span {font-style: italic; font-size: 15px; }
		}

		@include bp(md) {
			padding:20px;
			h3 {font-size: 20px;}
		}
	}

	.events-schedule {
		@include sec-default();
		h3.inst{font-size: 18px; font-weight: bold; text-align: center; padding: 20px 0 15px;}

		.tabs {
			#accordeon, #solo {display: inline-block; width: 40%; float: left; padding: 0 5px;}
			#accordeon { margin-left: 7%;}
			.cbp .cbp-item {@include sec-default(); text-align: center;}
			.cbp-item-wrapper {@include sec-default();}
			.cbp-caption {padding-top:25px;}
			.cbp-caption-expand-open .cbp-caption-activeWrap {padding-top:10px; background-color: rgba($gray, .1);}
			h4.time {color: black; font-weight: bold;}

			h5 {color: $black; font-weight: bold; margin-bottom: 5px;}
			h4 {margin-bottom:10px; line-height: 1.3em;}
			h4 b {color: $teal;}

			// @include bp(xl) {
			// 	#accordeon, #solo {width: 45%; }
			// 	#accordeon{margin-left: 3%;}
			// }
			@include bp(xl) {
				#accordeon, #solo {width: 95%; @include center-block(); margin-bottom: 15px; }
			}
		}
	}
}

.newsponsor{
	.breadcrumb-area {
		background-color: $navy;
		h1 {color:white;}
		h4 {margin-top:20px;}
		p { color: $white;  font-size: 16px;}
	}

	.sponsors-grid {
		@include sec-default ();
		background-image: url(image_path('patt2.png'));
		padding:30px 0 0px;
		.sponsor-sq{}
		.sponsor-img {display: inline-block; margin-bottom:20px;
				border-radius: 10px;
				border: 1px solid rgba($gray,.2);
				box-shadow: 1px 1px 1px rgba($gray,.4);
			}


		.top-spons{@include sec-default(); text-align: center;}
		.tier1 .sponsor-img{width: 35%; @include center-block(); background-color:white; padding: 5px;}
		.tier2 .sponsor-img{width: 28%; margin: 0 1.5% 20px;}
		.tier3 .sponsor-img{width: 24%; margin-left: .5%;}
		.tier4 .sponsor-img{width: 18%; margin-left: 1%;}
	}

	@include bp(ix) {
		.breadcrumb-area{padding:20px 0 15px;
			h1{font-size: 28px;}
			h4{margin-top: 0;}
			p {font-size: 14px;}
		}
	}

	@include bp(ph) {
		.sponsors-grid {
			.tier1 .sponsor-img{width: 40%;}
			.tier2 .sponsor-img{width: 30%; margin: 0 1% 20px;}
			.tier3 .sponsor-img{width: 28%;}
			.tier4 .sponsor-img{width: 23%;}
		}
	}
}

.gallery {

	.big-header {
		@include sec-default();
		@include sec-bgimage();
		background-position: center center;
		background-image: url(image_path('party.jpg'));

		p, h3, h4, h5 {color: $white;font-family: $franc; }

		.overlay {
			padding:50px;
			background: rgba($teal, .9);
		}

		h1 { text-align:center; padding-bottom:20px; color: $white;  text-transform: uppercase; font-family: $franc;}
	}

	.image-gallery {
		@include sec-default ();
		padding: 30px 0;
	}

	.nanoGalleryThumbnailContainer {
		// custom.js has commented out sizes also -- check config > app.rb if errors
		margin-right: 10px;
	}

	.nanoGalleryBreadcrumb {
		@include sec-default ();
		padding: 10px;
		.folder:hover, .folderHome:hover, .separator:hover { color: $black; }
	}

	.nanoGalleryContainer .nanoGalleryThumbnailContainer {
		.labelFolderTitle, .labelImageTitle {}

		.labelDescription { text-transform: capitalize;}

		.labelFolderTitle > span ,
		.labelDescription > span {
		 	color:rgba(34, 34, 34, 0.75);
		  	border-radius: 2px;
		  	padding:0px 4px;
			font-shadow: none;
			vertical-align: middle;
			display: inline;
		}

		.labelFolderTitle:before, .labelImageTitle:before{
			display: none;
		}
	}
		.nanoGalleryPagination {
			.paginationPrev:hover, .paginationNext:hover, .paginationItem:hover {color: $black}

			.currentPage {font-weight: bold;}
		}
}

.custom-contact-section {
	overflow: hidden;
	@include sec-default ();
	@include sec-bgimage ();
	background-color: $offwhite;
	padding: 50px 30px;
	background-image: url(image_path('destin1.jpg'));
	background-position: top right;
	background-size: 65%;

	.fullsection{@include sec-default ();}

	.left {display: inline-block; width: 35%; float: left;
		.inner {width: 70%; @include center-block();}
	}

	.right{display: inline-block; width: 60%; float: right; padding:25px;
		.hlf1, .hlf2 {display: inline-block; width: 46%; float: left;}
		.hlf2 {float: right;}

		.fa {margin-right:15px;}
	}

	a {color: $teal;}
	h1 { font-weight: 700; margin-bottom: 30px;}
	h4 {padding-top:15px; margin-bottom: 10px;}

	.color-box {
		@include sec-default ();
		background-image: url(image_path('patt2.png'));
		padding: 20px 20px 15px 0;
		background-color: $offwhite;

		.contact-info { @include sec-default ();text-align: center; border-right: 1px solid #dfdfdf;}
	}

	.form-col {
		margin-bottom: 5px;
	}

	.form-group {
		@include sec-default ();
		padding: 1px 5px;

		input, textarea {
			@include sec-default ();
			line-height: 2em;
			padding-left: 10px;
			border:1px solid #dfdfdf;
		}
		.send-message { width: 50%; @include center-block (); }
	}
	.text {@include sec-default ();}

	@media (max-width: 1025px) { padding: 30px 15px 0; p.xs-sm a {font-size: 14px;} .right{padding:0px 20px 20px;} .color-box {padding-bottom:0}}

	@include bp(md) {
		padding-top:25px;
		@include sec-bgimage ();
		background-image: url(image_path('destin-mobile.jpg'));

		.left, .right {@include sec-default(); }
		.left .inner {@include sec-default(); padding: 0 10px; }
		.text{padding: 25px 10px 0 5px;}

	}

	@include bp(mb) {
		@include sec-bgimage ();
		background-image: url(image_path('destin-mobile.jpg'));
		padding: 20px 15px 0;

		.right{ @include sec-default(); padding:0px 25px;
			.hlf1, .hlf2 {display: inline-block; width: 46%; float: left;}
			.hlf2 {float: right;}
			.fa {margin-right:15px;}
		}

	}

	@include bp(sm) {
		padding-top: 0px;
		background-image: none;
		.left .inner {padding: 0; position: relative; z-index: 4; padding-top: 20px;}
		.text{padding: 5px;}
		.left::before {
			content: '';
			background-color: rgba($teal, .7);
			width:100%;
			height: 90px;
			position: absolute;
			z-index: 1;
			left:0;
		}
		h1, h5 {text-align: center;}
		h5 {font-size: 1rem}
		h1 {font-size: 2.25rem}

		.right{padding: 0;
			.hlf1, .hlf2 {@include sec-default ();}
			.contact-info{border:none;}
		}
	}
}

.ec-foundation {
	h4.creed {font-style: italic; line-height: 1.5em; margin-top: 25px; color: #119ac5; font-weight: bold;}
	p {margin-bottom: 10px;}
	.banner {@include sec-default(); background-color: $offwhite; padding-top:20px; border-top: 1px solid rgba($gray, .3);
		padding-left:60px;
		.ecf-logo {display: inline-block; float: left; width: 40%; padding-left: 15px;}
		.ecf-creed {display: inline-block; width:40%; margin-left: 8%;}

		@include bp(md) { padding: 20px;
			.ecf-logo {width: 45%; padding-left: 0; @include center-block();}
			.ecf-creed {width:80%; @include center-block(); text-align: center;}
			h4.creed { margin-top: 10px;}
		}

		@include bp(sm) {
			.ecf-logo {width: 80%; }
			.ecf-creed {width:100%;}
		}
	}

	.foundation-sec{
		@include sec-default();
		padding:60px 0px 40px;

		.foundation {@include sec-default(); padding-bottom: 20px;}

		.modal-links{@include sec-default(); text-align: center; margin-top:25px;}
		.board-modal {width:30%; display: inline-block; margin:0 3%; background-color: $teal; border: 1px solid $teal;
				h4 {  color: $white; font-weight: bold; padding: 10px;text-align: center; margin:0;}
				&:hover {@include ease(); background-color: $offwhite; h4{color: $teal;}}
		}
		#modal-board {
			.uk-modal-dialog.uk-modal-dialog-large  { height:100%; background-color: $white; }
		}
		.admin {width:80%; @include center-block(); text-align: center;
			h3 {margin-bottom: 20px;}
			.top, .bottom{padding-top:20px;}
			.bottom{margin-bottom: 40px;}
		}
		h4{ margin-bottom: 30px;
			span {font-weight: bold; color: $teal;}
		}
		p{color: $dark}
	}

	.charities {@include sec-default(); padding: 30px 10px 0;
		h3 {text-align: center; font-weight: bold;}
		.org-box{ width:19%; margin-left: 5%; display: inline-block;
			&:first-child {margin-left: 0;}
		}
		.uk-modal-dialog.uk-modal-dialog-large {padding: 40px; padding-bottom:15px;
			h3{margin-bottom: 25px;}
			.charity-logo {width: 30%; @include center-block();}
		}
	}

	@include bp(md) {
		.foundation-sec{padding:40px 0 25px;
			.board-modal {width:45%; margin:0 15px;}
			.foundation {padding-bottom: 0px;}
			#modal-board .image-row {@include center-block(); text-align:center;}
		}
		.charities {padding-top: 20px;}
	}

	@include bp(mb) {
		.foundation-sec{padding:25px 0;
			.board-modal {margin:0 5px;
				h4{font-size: 16px;}
			}

			#modal-board {
				.uk-modal-dialog.uk-modal-dialog-large  { height:auto; background-color: $white; }
				.image-row .foundation-logo { width:50%; @include center-block();}
			}
			.admin {
				h3 {margin-bottom: 10px;}
				.top, .bottom{padding-top:0px;}
				.bottom{margin-bottom: 10px;}
			}
		}

		.charities {padding: 0px;
			.org-box{ width:21%; margin-left: 3%; display: inline-block;}
			.uk-modal-dialog.uk-modal-dialog-large {padding: 20px 30px 10px;}
		}
	}

	@include bp(sm) {
		.foundation-sec {
			.modal-links{margin-top:0px;}
			.board-modal {width: 80%; @include center-block(); margin-top:20px; margin-bottom: 5px;}
		}
		.charities {
			.org-box{ width:45%; padding: 10px;}
			.uk-modal-dialog.uk-modal-dialog-large {padding: 20px 10px 0;
				h3{font-size: 1.4rem; padding-top:5px; margin-bottom:15px;}
				.desc {@include sec-default(); height: 400px; overflow-y: scroll; }
				.charity-logo {width: 50%;}
			}
		}
	}

	@include bp(xs) {
		.foundation-sec {
			.board-modal {width: 95%; }
		}

		.charities {
			.org-box{ width:60%; @include center-block(); padding: 0px;}
		}
	}
}

.stops {
	.medDef {width:1000px; @include center-block();}

	.big-header {
		@include sec-default();
		padding:45px 20px;
		text-align: center;
		@include sec-bgimage();
		background-image: url(image_path('boat-week6.jpg'));
		position: relative; z-index: 0;

		h1 {font-size: 40px; color: $white; font-weight: 700; margin-bottom:2px;}
		h4 {font-weight: bold; color: $white; margin-bottom: 20px; font-size: 22px;}
    p { font-size: 15px; line-height: 1.4em; color: $white; padding-top: 10px; font-weight: bold; }
    .left {float: left; display: inline-block; width: 70%;}
    .ip {float: right; width: 150px; margin-right: 10%; display: inline-block;}

	    .bh-link {
	    	// @include sec-default ();
	    	width: 25%; display: inline-block;
	    	border: 1px solid $teal;
	    	border-radius: 5px;
	    	background-color: $white;
	    	padding: 10px;
	    	text-align: center;
	    	color: $dark; font-size: 15px; font-weight: bold;

	    	&:hover h4{ color: $teal; @include ease (); }
	    }
	}
	.big-header::before {
	    background: $dark none repeat scroll 0 0;
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: -1;
	    opacity: .65;
	}


	.stop-list {@include sec-default(); padding: 50px 0 30px; text-align: center;}
	.saturday, .map-run {display: inline-block; width:40%; float:left;
		h2{font-size: 19px; font-weight: bold; margin-bottom: 6px;color: $logo-blue}
		p{color: $dark;}

		li {color: $dark; margin-bottom:10px; font-size: 17px;
			color: $teal; font-weight: bold;
			a {color: $teal; font-weight: bold;}
			span{font-size: 14px; color: #999; font-style: italic; font-weight: normal;}
		}
	}
	.map-run {display:inline-block; float:right; width:58%; height:500px;}

	@include bp(xl) {
		.medDef {width:90%;}
		.saturday, .map-run {@include sec-default();}
		.saturday{
			li {color: $dark; margin-bottom:10px; font-size: 17px;
				a {color: $teal; font-weight: bold;}
				span{font-size: 14px; color: #999; font-style: italic; font-weight: normal;}
			}
		}
		.map-run { height:200px; margin-bottom:30px;}
	}

	@include bp(md) {
    .big-header {
    	padding:30px 0;
    	h1 {font-size: 30px;}
    	h4 {font-size: 19px;}
    	.left {width: 75%}
    	.ip {margin-right: 3%; width: 120px}
	    .bh-link { width:45%}
    }

		// .friday, .saturday {width:85%; @include center-block(); padding: 15px 0;}
  }

  @include bp(ph) {
    .big-header {
    	padding:15px 0;
    	.left {@include sec-default();}
    	.ip {width: 65px; margin-top: 10px}
	    .bh-link {font-size: 14px}
    }
  }
}

.now {background-color: red; color: white; font-weight: bold; text-align: center; font-size: 18px; padding: 10px 20px;
	text-shadow: 0px 1px 1px rgba(black, .3); margin-top: 20px; border-radius: 15px; box-shadow: 0 8px 10px rgba(black, .5);
	&:hover { background-color: lighten(red, 20%);color: white;}
}
b.ruby {color: #8c2034;}
b.emrld {color: #138776;}


.be-a-sponsor {
	.full-sponsor {@include sec-default(); background-color: #f1f2f4; padding: 30px 0;}
	.inner {width: 90%; @include center-block();}
	.letter, .btns {display: inline-block; float: left;}
	.letter{width: 77%; background-color: white; padding: 20px 30px;
		p {color: $dark;}
		h4 {font-weight: bold; color: $blue; margin-bottom: 15px; font-size: 20px;}
	}

	.btns {margin-top:15%;padding:0; width: 20%; float: right;
		.pdf-link {@include sec-default(); text-align:center; background-color: $logo-blue; color: white; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; padding: 8px 15px; margin-bottom: 20px;}
	}

	@include bp(md) {
		.letter, .btns {@include sec-default();}
		.btns {margin-top: 20px; text-align: center;
			.pdf-link {display: inline-block; float: left; width: 45%; margin-left: 4%;}
		}
	}

	@include bp(ph) {
		.btns {margin-top: 10px;
			.pdf-link {width: 90%;@include center-block();}
		}
	}
}


.vip-promo, .extra-hand-promo { background-color: #f7f7f7; 
	.black-friday, .top-area, .header, .logo-img, footer{display: none;}
	span, p, h3, li, h4, h1, h2, a { font-family: $lato; line-height: 1.4em; text-transform: uppercase; letter-spacing: 1px;}

	.sign-up { width:180px; height:55px; @include rotate(270deg); text-align: center; z-index: 100;
    right: -64px; padding-top: 15px; position: fixed; top: 25%;
    background-color: darken(red, 5%); color: white; font-weight: bold; @include tshadowl($black); border: 1px solid rgba($black, .3); font-size: 17px;
    &:hover {opacity: .8;}

    height:45px; padding-top:10px; right:-68px;
  }

	.vp1, .vp2, .vp3, .vp4, .vpNav {@include sec-default();text-align: center;}
	.inside, .insideAlt{width:80%; @include center-block();}
	.insideAlt{width:85%;}

	.vp1{background-color: $teal; padding: 70px 0 110px;}

	.vp2{padding-bottom:60px;
		.top-pull{width:50%; float:right; margin-top: -60px;}
		.textbox{width:45%; float:left; margin-top:70px;}
	}

	.vp3{position: relative; z-index: 0; 
		&::before{@include before(); z-index: -2; background-color: $logold; 
			width:36%; height:105%; left:-9%; top:-15%; @include rotate(22deg);
		}

		.extras, .img-dec {display: inline-block;}
		.img-dec{width:45%; float: left;}
		.extras{ width:48%; margin-left:5%; margin-top:3%;}
		.img-mob{display: none;}

		&.ehp::before{top:-5%;}
	}

	.vp4{padding: 60px 0; margin-top:0px;
		.lr-logo{height:170px; display: inline-block; float: none; margin: 5px 3%;}
		.lrl2{height:140px; margin-top:10px;}
	}

	.vp5{
		.lr-logo{height:135px; display: inline-block; float: none; margin: 5px 3%;}
		.lrl2{height:100px; margin-top:10px;}
	}

	.vpNav{background-color: $blue; padding: 20px 0;
		a {color: $white; font-family: $raleway; font-size: 20px; font-weight: bold;}
		a:hover{opacity: .8;}

		&.ehp{margin-top: 80px; position: relative; z-index: 1;}
	}


	h1 {line-height: 1.1em; font-weight: bold; font-size: 2rem; letter-spacing: 2px; color: $white;
		position: relative; z-index: 0;
		span {font-size: 2.5rem; letter-spacing: 2px; padding: 0 8px; background-color:$teal;
	  	&::before {@include before(); width:50%; left:25%; z-index: -1; height:1px; top:70%; border-bottom: 2px solid white; }
		}
	}
	h2, h3{color: $red; font-weight:bold; font-size:23px; letter-spacing: 1px; text-decoration: underline; margin:0; line-height: 2em;}
	h3{text-decoration: none; background-color: $red; color: $white; font-size:20px; padding:0px; margin-top:8px; width:75%; @include center-block();}
  i.fa-circle {color: $teal; font-size: 7px; margin-bottom: 15px; @include center-block();}
	h4 {font-weight: 900; color: #1788ae; margin-bottom:20px; font-size:22px; text-decoration: underline; font-family: $raleway;}
	p {color: $logo-blue; font-weight: 700; font-size:18px; font-family: $raleway;}
	p b {color: $blue;}
	p b.red{color:$red;}
	p span{font-family: inherit; font-size: 1.2em;}
	p.color{color: #1788ae;}

	@include bp(xl) {
  	.sign-up{font-size: 15px; height:40px; padding-top:9px; right:-70px;}
		// .sign-up {top: 30%;font-size:16px;}

		h1{font-size:1.8rem;
			span{font-size:2.3rem;}
		}
		h2{font-size: 20px;}
		h4{font-size: 19px;}
		p{font-size:17px;}

		.vp1{padding: 40px 0 80px;}

		.vp2{
			.top-pull{margin-top:-45px;}
			.textbox{margin-top:25px;}
		}

		.vp3{margin-top:20px;
			.insideAlt{width:90%;}
			&::before{height:440px; left:-9%; top:-10%;}
			&.ehp::before{height:420px;}

			.extras{ margin-top:0px; margin-left: 4%;}
			.img-fw{display: none;}
			.img-mob{display: block;}
		}

		.vp4{padding: 20px 0 40px;
			.lr-logo{height:150px;}
			.lrl2{height:120px;}
		}

		.vpNav{ padding: 15px 0;
			a {font-size: 18px;}
		}
	}

  @media (max-width: 1023px) {
  	h1{font-size:1.5rem;
			span{font-size:1.9rem;}
		}
		h2{font-size: 18px;}
		h3, h4{font-size: 17px;}
		p{font-size:16px;}

		.vp2{padding-bottom:45px;}

		.vp3{margin-top:0px;
			.insideAlt{width:90%;}
			&::before{height:50%; left:-13%; top:55%; width:55%; @include rotate(-45deg); }

			.img-dec{ margin-left: 0; @include sec-default(); margin-top:30px;}
			.extras{width:80%; @include center-block();}
			br.rules{display: none;}
			.img-fw{width: 70%;@include center-block();}
			.img-mob{display: none;}
			.solo-img{width: 70%;@include center-block();position: relative;z-index: 1;}


			&.ehp {
				&::before{display: none;}
				.img-dec{position: relative; z-index: 0; padding:40px 0;
					&::after{@include after(); bottom:0; right:50%; background-color: $logold; width: 50%;}
				}
			}
		}

		.vp4{padding: 20px 0;
			.lr-logo{height:130px;}
			.lrl2{height:100px;}
		}

		.vpNav{
			a {font-size: 17px;}
			&.ehp {margin-top:30px;}
		}
  }

  @include bp(ix) {
  	// .sign-up{font-size: 15px; height:45px; padding-top:12px; right:-68px;}

  	h1{font-size:1.35rem;
			span{font-size:1.7rem;}
		}
		h2{font-size: 17px;}
		h3, h4{font-size: 16px;}
		h2,h3{line-height: 1.5em;}
		p{font-size:15px;}

		.vp1{padding: 25px 0;}

		.vp2{padding:0px 0 25px;
			.textbox, .top-pull{@include sec-default(); margin-top:0px;}
			.textbox{margin:15px 0 25px;}
			img{width:80%; @include center-block();}
		}

		.vp3{
			&::before{display:none;}
			.img-fw, .solo-img{width:80%;}
		}

		.vp5{
			.lr-logo{height:115px;}
			.lrl2{height:90px;}
		}

		.vpNav{ padding: 15px 0;
			a {font-size: 16px;}
		}
  }

  @include bp(md) {
  	h1{font-size:1.2rem;
			span{font-size:1.5rem;}
		}
		.vp1{padding: 20px 0 15px;}
  }

  @include bp(mb) {
  	.vp3{
  		.extras,.img-fw, .solo-img{width:90%;}
		}
  }
}
