@import "variables";
@import "mixins";

h1.und{text-decoration: underline;}
.clearfix.cbtn{@include sec-default();margin-bottom: 20px;}
// COVID UPDATES
.COVIDevent{@include sec-default(); padding: 60px 0; background-color: $blue; text-align:center;
	.inside, .innerBox {@include center-block(); max-width:1600px;}
	.inside {width: 65%;}
	.innerBox {width: 85%;}

	.sign-up {width:180px; height:55px; @include rotate(270deg); text-align: center; z-index: 100;
    right: -64px; padding-top: 15px; position: fixed; top: 29%;
    background-color: darken(red, 5%); color: $white; font-weight: bold; @include tshadowl($black); border: 1px solid rgba($black, .3); font-size: 17px;
    &:hover {opacity: .8;}

    height:45px; padding-top:10px; right:-68px;
	}

	hr.hlf{width: 40%; @include center-block(); border-color: rgba($black,.2);
		&.xtra {margin-bottom: 25px; }
		&.less {width: 15%; margin-bottom:25px;}
	}


	p, h3, li, h4, h1, h2, a {font-family: $lato; line-height: 1.4em; text-transform: uppercase; letter-spacing: 1px; color: $dark;}
	span{font-family: inherit;}
	h1 {color: $white; font-weight: 900; font-size: 1.6rem; margin-bottom: 20px;}
	h2,h3{font-weight: 700;}
	h2{margin-bottom: 15px;}
	h2 span{color: $blue;}
	h3{font-size:28px;}
	h4{font-weight: bold; font-size: 18px;}
	p{font-size:17px; text-transform: none; letter-spacing: 0px;}
	p.info{font-size: 21px; font-weight: 700; text-transform: none; letter-spacing: 0;
		span{color: $blue;}
	}
	p.donate{font-size: 18px;}

	.boxSec{@include sec-default(); background-color: $white; padding:30px 0px 30px; 
		.paddedBox{width:75%; @include center-block();}
		li {font-size: 20px; margin-bottom: 20px; 
			font-weight: bold;color: $blue; 
			&:nth-child(2n+2) {color: $logo-blue}

			span{font-size:18px; line-height: 1.1em; text-transform: none; letter-spacing: 0}
		}
	}

	.boxSec.vip{background-color: $teal;
		p{font-size:20px; font-weight: bold;}
		h4{font-size: 30px;}
	}

	@media (min-width:1445px){
		h1{font-size: 1.8rem;}
	}
	

	@include bp(tw) {
		.inside {width: 90%;}
		h2{font-size:28px;}
	}

	@include bp(xl) {
  	.sign-up{font-size: 15px; height:40px; padding-top:9px; right:-70px;}
		.innerBox {width: 90%;}

		hr.hlf{margin: 15px auto;}
		h1{font-size: 1.45rem;}
		h2{font-size:26px;}
		h3{font-size:23px;}
		p.info{font-size: 19px;}
		p.donate{font-size: 17px;}

		.boxSec{
			.paddedBox{width:90%;}
			li {font-size: 18px; margin-bottom: 15px;
				span{font-size:16px;}
			}
		}
		.boxSec.vip {
			h4{font-size: 23px;}
			p{font-size:17px;}
		}
	}

	@include bp(ix) {padding: 30px 0; 
		.inside{width:95%;}
		.innerBox {width: 95%;}

		p, h3, li, h4, h1, h2, a {letter-spacing: .5px}
		h1{font-size: 1.3rem;}
		h2{font-size:21px;}
		h3{font-size:19px;}
		p.info{font-size: 17px;}
		p.donate{font-size: 16px;}

		.boxSec{
			.paddedBox{width:96%;}
			li {font-size: 17px;margin-bottom: 10px;}
		}
		.boxSec.vip {
			h4{font-size: 19px;}
			p{font-size:16px;}
		}
	}

	@include bp(pl) {
		h4 br{display: none;}
	}
}

// DRAW DOWN PAGE
.drawPage{
	.opener, p, h3, li, h4, h1, h2, a {font-family: $lato; line-height: 1.4em; color: $dark;
		&.bmargin0{margin-bottom: 0;}
		&.bmargin5{margin-bottom: 5px;}
	}

	.img-spacing{margin:20px 0;}
	.mob-img{display: none;}

	.draw-dets{@include sec-default(); padding: 60px 0; background-color: $blue; text-align:center;
		.inside, .innerBox {@include center-block(); max-width:1600px;}
		.inside {width: 65%;}
		.innerBox {width: 85%;}

		hr.hlf{width: 40%; @include center-block(); border-color: rgba($black,.2);
			&.xb {margin-bottom: 25px;}
			&.xt {margin-top: 35px;}
			&.less {width: 15%; margin-bottom:25px;}
		}
		br.small{display:none;}

		.opener{color: $white; font-size: 23px; font-weight: 600; margin-bottom: 10px;letter-spacing: .2px;
			span{font-weight: bold; text-decoration: underline; font-style: italic;}
		}
		span{font-family: inherit;}
		h1 {font-weight: 900; font-size: 2.2rem; margin-bottom: 5px; line-height: 1.2em; color:$teal;
			span{font-family: $courg; color: $teal;}
		}
		h2{margin-bottom: 20px; font-size:27px;}
		h3 span{color: $blue;}
		h3{font-size:21px;}
		p.fine-print{font-size:13px;}

		p.tk-link{@include sec-default();margin-top:40px;background-color:$teal; }
		p.tk-link a{@include sec-default();color:$white; background-color:transparent; padding:10px 20px;text-shadow:0px 1px 1px rgba($black,.3);}
		p.tk-link:hover{opacity: .8}

		.date.one{margin-bottom:20px;}
		h4{font-weight: bold; font-size: 20px; color:$blue; text-decoration: underline;}
		p{font-size:18px;}
		p span{color:$blue; font-style: italic;}
		.btn-link{padding: 10px 30px; background-color: $teal; color: $white; text-shadow:0px 1px 2px rgba($black,.2); 
			font-weight: 700; font-size:16px; letter-spacing: .5px;
			&.two{background-color: $logo-blue;}
			&:hover{opacity:.8; @include ease(); cursor: pointer; text-decoration: none;}
		}
		.btn-clear{display: none;}



		.boxSec{@include sec-default(); background-color: $white; padding:30px 0px 30px;}
		.btn-row{@include sec-default(); margin:40px 0;}
		.paddedBox{@include sec-default();margin: 10px 0 0;}
		li {font-size: 20px; margin-bottom: 10px; font-weight: bold;color: $blue; 
			&:nth-child(2n+2) {color: $logo-blue}
			&.last{color: $black;}
		}

		@include bp(tw) {
			.inside {width: 90%;}
			.opener{font-size:20px;}
		}

		@include bp(xl) {padding: 30px 0;
	  	.sign-up{font-size: 15px; height:40px; padding-top:9px; right:-70px;}
			.innerBox {width: 90%;}

			hr.hlf{margin: 15px auto;}
			h1{font-size: 1.9rem;}
			h2{font-size:24px;}
			h3{font-size:20px;}
			li{font-size: 19px;}
		
			p.tk-link{margin-top:20px;}
		}

		@include bp(ix) {padding: 20px 0;
			.inside{width:95%;}
			.innerBox {width: 95%;}

			.boxSec{padding:20px 0px 20px;}
			.btn-row{margin:30px 0 25px;}

			.opener{font-size:18px;}
			h1{font-size: 1.5rem;}
			h2{font-size:19px;}
			h3, h4, li{font-size:18px;}
			p, li.last{font-size: 17px;}
			.btn-link{font-size: 15px;}

			hr.hlf.xb {margin-top: 10px;}
			hr.hlf.xt {margin-top: 25px;}
		}

		@include bp(oc) {padding: 15px 0 20px;
			.opener{font-size:17px;}
			h1{font-size: 1.3rem;}
			h2,h3, h4, li{font-size:17px;}
			p, li.last{font-size: 16px;}
			.btn-link{padding:10px 20px; margin-bottom:10px;}

			br.small{display:block;}
			br.no-small{display:none;}
		}

		@media (max-width:374px){
			.btn-clear{display:block; height:25px;}
			.btn-link{font-size:14px;}
		}
	}
}
@media (min-width: 960px) {.registration .box-lay, .drawPage{min-height:75vh;}}
@media (min-width: 1025px) {.registration .box-lay, .drawPage{min-height:70vh;}}



// Cancellation
.cancel-message{@include sec-default(); padding: 50px 0; border-bottom: 10px solid $teal; text-align: center;
	.inside{width:870px; @include center-block();}
	p,li{color:$black; font-size:22px; line-height: 1.3em; margin-bottom:15px; font-family: $open; font-weight: 300;}
	p.open{font-weight: bold; font-size:25px;}
	hr{width:150px; @include center-block(); border-color: rgba($black,.2);
		&.one{margin-top: 30px;}
		&.two{margin-bottom: 30px;}
	}
	
	.body {margin:20px 0;
		p span, li span{color:$logo-blue; font-weight: 400;}
	}
	
	p.draw-dets{margin-bottom:5px;
		span{color:$blue; font-weight: bold;}
	}

	p.closing {font-weight: 600;
		span{font-style: italic;}
	}

	@include bp(xl) {.inside{width:90%;}}
	@include bp(ix) {padding:25px 0; margin-bottom: 10px;
		p,li{font-size: 20px;}
		p.open{font-size:21px;}
		.body {margin:15px 0;}
		hr{width:100px;
			&.one{margin-top: 20px;}
			&.two{margin-bottom: 20px;}
		}
	}

	@include bp(oc) {padding:20px 0 15px; margin-bottom: 5px;
		.inside{width:95%;}
		p,li{font-size: 17px;}
		p.open{font-size:18px;}
	}
}



// TEMP home top replacement.
.dd-image{@include sec-default(); 
	.mob-img{display: none;}
	@include bp(ix) {
		.mob-img{display: block;}
		.fw-img{display: none;}
	}
}
.home-topTemp {@include sec-default(); background-color: $logo-blue; margin-bottom:40px;
	.open,.il-cancel{display:inline-block;width:62%;}

	.open {width:38%; float:right; text-align: center;
		.text-box{@include sec-default(); display: block; padding: 30px 10px;}
		h1, h2, h3, .reg-now{text-shadow:0px 1px 1px rgba(black, .5);}
		h2, h1 span {color: lighten($blue, 35%);font-family: $courg; font-weight: bold; text-transform: none;}
		h2{font-size: 2.3rem;}
		h1 {line-height: 1.2em; margin-top: 0px; font-size:2.6rem;font-family: $lato; font-weight: 800; color:$teal; margin-bottom:5px; text-transform: uppercase; }
		h3 {font-weight: 600;color: white; margin-bottom: 50px; line-height:1.5em;}
		h3 span{color: lighten($teal, 5%);}
		br.cst-br{display:none;}
		.spacer {@include sec-default(); margin-bottom: 15px;}

		ul{margin-bottom: 20px;}
		.reg-now {background-color: $red; box-shadow:0px 5px 20px rgba($black,.3); padding: 7px 20px; font-size:17px; color: $white; font-weight: bold; font-family: $lato;}
	}

	.il-cancel{text-align:center; color:$black; background-color:$white; padding:15px 0 10px;
		p,li{font-size: 18px; font-family: $open; font-weight: 300;}
		.ilc-inner{width:88%; @include center-block(); margin: 30px auto;}

		p.opener{font-weight: bold; font-size: 20px; font-family: $raleway;}
		hr{width:150px; @include center-block(); border-color: rgba($black,.2);
			&.one{margin-top: 30px;}
			&.two{margin-bottom: 30px;}
		}
		
		.body p span, li span{color:$logo-blue; font-weight: 400;}
		
		p.draw-dets{margin-bottom:5px;
			span{color:$blue; font-weight: bold;}
		}

		p.closing {font-weight: 600;
			span{font-style: italic;}
		}
	}


	#countdown{background: none; @include center-block(); text-align: center; padding-top: 0px;
    li {display: inline-block;
    	span{color: $white; @include tshadow ($black); padding: 15px 0; font-size: 45px; font-weight: 700;}
    	span:after {content: ':'; display: inline-block; color: $white; @include tshadow ($black); vertical-align: middle; position: relative; bottom: 5px; margin-left: 3px;}
    	p {text-indent: -15px; color: $white; text-transform: uppercase; font-weight: 700; margin-top: 5px; font-size: 14px; @include tshadow ($black);}
	    &:last-child span:after {display: none;}
	    &:last-child p {text-indent: 0;}
    }
	}


	@include bp(tw) {
		.open br.cst-br{display:block;}
	}

	@media screen and (max-width: 1120px) {
		.il-cancel{padding: 0;
			.ilc-inner{width:90%; margin: 20px auto;}

			p,li{font-size: 17px;}
			p.opener{font-size:19px;}

			hr{
				&.one{margin-top: 20px;}
				&.two{margin-bottom: 20px;}
			}
		}

		.open {
			h1 {font-size: 2rem;}
			h2 {font-size: 1.8rem;}
			h3 {font-size: 1.35rem;}
		}

		#countdown li {
			span{font-size: 40px;}
			p {font-weight: 600; font-size: 13px;}
		}
	}

	@include bp(xl) {
		.open .reg-now {font-size:16px;}
	}

	@include bp(br) {background-color: $white; margin-bottom: 20px; border-bottom: 10px solid $logo-blue;
		.open {width:85%; @include center-block(); margin-top:20px;
			.text-box{background-color: $logo-blue;}
			h3.date{margin-bottom: 25px;}
			br.spec, br.spec2{display:none;}
			h1{margin-bottom:15px;}
		}

		#countdown li span{font-size: 35px;}
		
		.il-cancel{@include sec-default(); display:block; margin:30px auto 25px;
			.ilc-inner{margin: 0px auto;}
			p,li{font-size: 16px;}
			p.opener{font-size:18px;}
		}
	}

	@include bp(oc) {
		.open {width:95%;
			h3.date{margin-bottom: 25px;}
			br.spec, br.spec2{display:none;}
			h1{margin-bottom:15px; font-size: 1.8rem;}
			h2 {font-size: 1.6rem;}
			h3 {font-size: 1.15rem;}
		}

		#countdown li span{font-size: 32px;}
		
		.il-cancel{margin:25px auto 20px;
			.ilc-inner{width:95%;}
			p.opener{font-size:17px;}

			hr{
				&.one{margin-top: 14px;}
				&.two{margin-bottom: 14px;}
			}
		}
	}

	@include bp(ph) {
		.open br.spec{display:block;}
	}
}





