@import "variables";
@import "mixins";


// COVID UPDATES
.COVIDevent{@include sec-default(); padding: 60px 0; background-color: $blue; text-align:center;
	.inside, .innerBox {@include center-block(); max-width:1600px;}
	.inside {width: 65%;}
	.innerBox {width: 85%;}

	.sign-up {width:180px; height:55px; @include rotate(270deg); text-align: center; z-index: 100;
    right: -64px; padding-top: 15px; position: fixed; top: 29%;
    background-color: darken(red, 5%); color: $white; font-weight: bold; @include tshadowl($black); border: 1px solid rgba($black, .3); font-size: 17px;
    &:hover {opacity: .8;}

    height:45px; padding-top:10px; right:-68px;
	}

	hr.hlf{width: 40%; @include center-block();
		&.xtra {margin-bottom: 25px; }
		&.less {width: 15%; margin-bottom:25px;}
	}


	p, h3, li, h4, h1, h2, a {font-family: $lato; line-height: 1.4em; text-transform: uppercase; letter-spacing: 1px; color: $dark;}
	span{font-family: inherit;}
	h1 {color: $white; font-weight: 900; font-size: 1.8rem; margin-bottom: 20px;}
	h2,h3{font-weight: 700;}
	h3{font-size:28px;}
	h4{font-weight: bold;}
	p{font-size:17px;}

	.boxSec{@include sec-default(); background-color: $white; padding:30px 0px 30px; 
		li {font-size: 20px; margin-bottom: 20px; 
			font-weight: bold;color: $blue; 
			&:nth-child(2n+2) {color: $logo-blue}

			span{font-size:18px; line-height: 1.1em; text-transform: none; letter-spacing: 0}
		}
	}

	.boxSec.vip{background-color: $teal;
		p{text-transform: none; letter-spacing: 0; font-size:20px; font-weight: bold;}
		h4{font-size: 30px;}
	}

	@include bp(tw) {
		.inside {width: 90%;}
		h1{font-size: 1.6rem;}
		h2{font-size:28px;}
	}

	@include bp(xl) {
  	.sign-up{font-size: 15px; height:40px; padding-top:9px; right:-70px;}
		.innerBox {width: 90%;}

		hr.hlf{margin: 15px auto;}
		h1{font-size: 1.45rem;}
		h2{font-size:26px;}
		h3{font-size:23px;}

		.boxSec{
			li {font-size: 18px; margin-bottom: 15px;
				span{font-size:16px;}
			}
		}
		.boxSec.vip {
			h4{font-size: 23px;}
			p{font-size:17px;}
		}
	}

	@include bp(ix) {padding: 30px 0; 
		.inside{width:95%;}
		.innerBox {width: 95%;}

		p, h3, li, h4, h1, h2, a {letter-spacing: .5px}
		h1{font-size: 1.3rem;}
		h2{font-size:21px;}
		h3{font-size:19px;}

		.boxSec{
			li {font-size: 17px;margin-bottom: 10px;}
		}
		.boxSec.vip {
			h4{font-size: 19px;}
			p{font-size:16px;}
		}
	}
}








